In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DO24OPEN.csv', sep=';')

/tmp/ipython-input-18392690.py:1: DtypeWarning: Columns (65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DO24OPEN.csv', sep=';')

In [3]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
contador,1,2,3,4,5,6,7,8,9,10
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,19042024,18012024,22012024,24032024,12012024,2022024,5012024,10012024,1032024,2032024
HORAOBITO,2301.0,1030.0,700.0,1220.0,800.0,903.0,810.0,2000.0,1030.0,540.0
...,...,...,...,...,...,...,...,...,...,...
ALTCAUSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAUSABAS_O,I279,A09,E112,G309,I219,I219,Q248,J129,N19,I501
TPPOS,N,N,N,N,N,N,N,N,N,N
TP_ALTERA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CB_ALT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426346 entries, 0 to 1426345
Data columns (total 86 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   contador    1426346 non-null  int64
 1   ORIGEM      1426346 non-null  int64
 2   TIPOBITO    1426346 non-null  int64
 3   DTOBITO     1426346 non-null  int64
 4   HORAOBITO   1378387 non-null  float64
 5   NATURAL     1368617 non-null  float64
 6   CODMUNNATU  1350369 non-null  float64
 7   DTNASC      1424067 non-null  float64
 8   IDADE       1426346 non-null  int64
 9   SEXO        1426346 non-null  int64
 10  RACACOR     1406901 non-null  float64
 11  ESTCIV      1366817 non-null  float64
 12  ESC         1346703 non-null  float64
 13  ESC2010     1335121 non-null  float64
 14  SERIESCFAL  419236 non-null   float64
 15  OCUP        1236214 non-null  float64
 16  CODMUNRES   1426346 non-null  int64
 17  LOCOCOR     1426346 non-null  int64
 18  CODESTAB    1052082 non-null  float64
 19  CODMUNOCOR  1426346 non-null  int64
 20  IDADEMAE    25652 non-null    float64
 21  ESCMAE      25329 non-null    float64
 22  ESCMAE2010  25075 non-null    float64
 23  SERIESCMAE  10740 non-null    float64
 24  OCUPMAE     22595 non-null    float64
 25  QTDFILVIVO  25550 non-null    float64
 26  QTDFILMORT  24761 non-null    float64
 27  GRAVIDEZ    26222 non-null    float64
 28  SEMAGESTAC  24852 non-null    float64
 29  GESTACAO    25063 non-null    float64
 30  PARTO       26068 non-null    float64
 31  OBITOPARTO  25783 non-null    float64
 32  PESO        25134 non-null    float64
 33  TPMORTEOCO  81193 non-null    float64
 34  OBITOGRAV   82018 non-null    float64
 35  OBITOPUERP  82000 non-null    float64
 36  ASSISTMED   988006 non-null   float64
 37  EXAME       5577 non-null     float64
 38  CIRURGIA    5403 non-null     float64
 39  NECROPSIA   1018463 non-null  float64
 40  LINHAA      1383688 non-null  object
 41  LINHAB      1088568 non-null  object
 42  LINHAC      673062 non-null   object
 43  LINHAD      283050 non-null   object
 44  LINHAII     606589 non-null   object
 45  CAUSABAS    1426346 non-null  object
 46  CB_PRE      0 non-null        float64
 47  COMUNSVOIM  251621 non-null   float64
 48  DTATESTADO  1421591 non-null  float64
 49  CIRCOBITO   143190 non-null   float64
 50  ACIDTRAB    49346 non-null    float64
 51  FONTE       113965 non-null   float64
 52  NUMEROLOTE  1426258 non-null  float64
 53  DTINVESTIG  178824 non-null   float64
 54  DTCADASTRO  1425927 non-null  float64
 55  ATESTANTE   1331112 non-null  float64
 56  STCODIFICA  1425902 non-null  object
 57  CODIFICADO  1426344 non-null  object
 58  VERSAOSIST  1426344 non-null  object
 59  VERSAOSCB   1375051 non-null  float64
 60  FONTEINV    180788 non-null   float64
 61  DTRECEBIM   1371814 non-null  float64
 62  ATESTADO    1426342 non-null  object
 63  DTRECORIGA  1426346 non-null  int64
 64  OPOR_DO     1426346 non-null  int64
 65  CAUSAMAT    21 non-null       object
 66  ESCMAEAGR1  25075 non-null    float64
 67  ESCFALAGR1  1335115 non-null  float64
 68  STDOEPIDEM  1426344 non-null  float64
 69  STDONOVA    1426346 non-null  int64
 70  DIFDATA     1426346 non-null  int64
 71  NUDIASOBCO  49186 non-null    float64
 72  DTCADINV    49448 non-null    float64
 73  TPOBITOCOR  49448 non-null    float64
 74  DTCONINV    49144 non-null    float64
 75  FONTES      21062 non-null    object
 76  TPRESGINFO  1867 non-null     float64
 77  TPNIVELINV  49491 non-null    object
 78  DTCADINF    21062 non-null    float64
 79  MORTEPARTO  21062 non-null    float64
 80  DTCONCASO   19083 non-null    float64
 81  ALTCAUSA    20285 non-null    float64
 82  CAUSABAS_O  1425133 non-null  object
 83  TPPOS       913320 non-null   object
 84  TP_ALTERA   8125 non-null     float64
 85  CB_ALT      2130 non-null     object
dtypes: float64(57), int64(13), object(16)
memory usage: 935.9+ MB

In [5]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2024-04-19
1 2024-01-18
2 2024-01-22
3 2024-03-24
4 2024-01-12
datetime64[ns]

In [6]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2024-05-08
1 2024-02-06
2 2024-02-06
3 2024-05-08
4 2024-02-06
datetime64[ns]

In [7]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1964-12-24
1 1958-04-29
2 1939-03-23
3 1944-06-10
4 1950-03-08
datetime64[ns]

In [8]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2024-04-19
1 2024-01-18
2 2024-01-22
3 2024-03-25
4 2024-01-12
datetime64[ns]

In [9]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [10]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2024-05-03
1 2024-02-06
2 2024-02-06
3 2024-04-12
4 2024-02-05
datetime64[ns]

In [11]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2024-05-08
1 2024-02-06
2 2024-02-06
3 2024-05-08
4 2024-02-06
datetime64[ns]

In [12]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [13]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [14]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [15]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [16]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

In [17]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426346 entries, 0 to 1426345
Data columns (total 86 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   contador    1426346 non-null  int64
 1   ORIGEM      1426346 non-null  int64
 2   TIPOBITO    1426346 non-null  int64
 3   DTOBITO     1426346 non-null  datetime64[ns]
 4   HORAOBITO   1426346 non-null  float64
 5   NATURAL     1426346 non-null  float64
 6   CODMUNNATU  1426346 non-null  float64
 7   DTNASC      1426346 non-null  datetime64[ns]
 8   IDADE       1426346 non-null  int64
 9   SEXO        1426346 non-null  int64
 10  RACACOR     1426346 non-null  float64
 11  ESTCIV      1426346 non-null  float64
 12  ESC         1426346 non-null  float64
 13  ESC2010     1426346 non-null  float64
 14  SERIESCFAL  1426346 non-null  float64
 15  OCUP        1426346 non-null  float64
 16  CODMUNRES   1426346 non-null  int64
 17  LOCOCOR     1426346 non-null  int64
 18  CODESTAB    1426346 non-null  float64
 19  CODMUNOCOR  1426346 non-null  int64
 20  IDADEMAE    1426346 non-null  float64
 21  ESCMAE      1426346 non-null  float64
 22  ESCMAE2010  1426346 non-null  float64
 23  SERIESCMAE  1426346 non-null  float64
 24  OCUPMAE     1426346 non-null  float64
 25  QTDFILVIVO  1426346 non-null  float64
 26  QTDFILMORT  1426346 non-null  float64
 27  GRAVIDEZ    1426346 non-null  float64
 28  SEMAGESTAC  1426346 non-null  float64
 29  GESTACAO    1426346 non-null  float64
 30  PARTO       1426346 non-null  float64
 31  OBITOPARTO  1426346 non-null  float64
 32  PESO        1426346 non-null  float64
 33  TPMORTEOCO  1426346 non-null  float64
 34  OBITOGRAV   1426346 non-null  float64
 35  OBITOPUERP  1426346 non-null  float64
 36  ASSISTMED   1426346 non-null  float64
 37  EXAME       1426346 non-null  float64
 38  CIRURGIA    1426346 non-null  float64
 39  NECROPSIA   1426346 non-null  float64
 40  LINHAA      1426346 non-null  object
 41  LINHAB      1426346 non-null  object
 42  LINHAC      1426346 non-null  object
 43  LINHAD      1426346 non-null  object
 44  LINHAII     1426346 non-null  object
 45  CAUSABAS    1426346 non-null  object
 46  CB_PRE      1426346 non-null  float64
 47  COMUNSVOIM  1426346 non-null  float64
 48  DTATESTADO  1426346 non-null  datetime64[ns]
 49  CIRCOBITO   1426346 non-null  float64
 50  ACIDTRAB    1426346 non-null  float64
 51  FONTE       1426346 non-null  float64
 52  NUMEROLOTE  1426346 non-null  float64
 53  DTINVESTIG  1426346 non-null  object
 54  DTCADASTRO  1426346 non-null  datetime64[ns]
 55  ATESTANTE   1426346 non-null  float64
 56  STCODIFICA  1426346 non-null  object
 57  CODIFICADO  1426346 non-null  object
 58  VERSAOSIST  1426346 non-null  object
 59  VERSAOSCB   1426346 non-null  float64
 60  FONTEINV    1426346 non-null  float64
 61  DTRECEBIM   1426346 non-null  datetime64[ns]
 62  ATESTADO    1426346 non-null  object
 63  DTRECORIGA  1426346 non-null  datetime64[ns]
 64  OPOR_DO     1426346 non-null  int64
 65  CAUSAMAT    1426346 non-null  object
 66  ESCMAEAGR1  1426346 non-null  float64
 67  ESCFALAGR1  1426346 non-null  float64
 68  STDOEPIDEM  1426346 non-null  float64
 69  STDONOVA    1426346 non-null  int64
 70  DIFDATA     1426346 non-null  int64
 71  NUDIASOBCO  1426346 non-null  float64
 72  DTCADINV    1426346 non-null  datetime64[ns]
 73  TPOBITOCOR  1426346 non-null  float64
 74  DTCONINV    1426346 non-null  datetime64[ns]
 75  FONTES      1426346 non-null  object
 76  TPRESGINFO  1426346 non-null  float64
 77  TPNIVELINV  1426346 non-null  object
 78  DTCADINF    1426346 non-null  datetime64[ns]
 79  MORTEPARTO  1426346 non-null  float64
 80  DTCONCASO   1426346 non-null  datetime64[ns]
 81  ALTCAUSA    1426346 non-null  float64
 82  CAUSABAS_O  1426346 non-null  object
 83  TPPOS       1426346 non-null  object
 84  TP_ALTERA   1426346 non-null  float64
 85  CB_ALT      1426346 non-null  object
dtypes: datetime64[ns](10), float64(48), int64(11), object(17)
memory usage: 935.9+ MB

In [77]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
TIPOBITO,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
DTOBITO,2024-04-19 00:00:00,2024-01-18 00:00:00,2024-01-22 00:00:00,2024-03-24 00:00:00,2024-01-12 00:00:00,2024-02-02 00:00:00,2024-01-05 00:00:00,2024-01-10 00:00:00,2024-03-01 00:00:00,2024-03-02 00:00:00,2024-02-26 00:00:00,2024-01-01 00:00:00,2024-01-05 00:00:00,2024-01-12 00:00:00,2024-04-25 00:00:00,2024-01-23 00:00:00,2024-04-30 00:00:00,2024-02-28 00:00:00,2024-05-23 00:00:00,2024-01-23 00:00:00
HORAOBITO,2301.0,1030.0,700.0,1220.0,800.0,903.0,810.0,2000.0,1030.0,540.0,630.0,1025.0,2105.0,1900.0,620.0,330.0,430.0,1000.0,2230.0,920.0
NATURAL,824.0,824.0,824.0,824.0,824.0,824.0,824.0,824.0,824.0,824.0,825.0,824.0,824.0,824.0,824.0,824.0,824.0,824.0,824.0,825.0
CODMUNNATU,240490.0,240940.0,241250.0,241050.0,240320.0,241250.0,240060.0,240840.0,241060.0,241060.0,250430.0,241120.0,241450.0,240740.0,240320.0,240940.0,241050.0,241020.0,240700.0,251160.0
DTNASC,1964-12-24 00:00:00,1958-04-29 00:00:00,1939-03-23 00:00:00,1944-06-10 00:00:00,1950-03-08 00:00:00,1947-07-03 00:00:00,1962-07-20 00:00:00,1929-09-22 00:00:00,1938-05-12 00:00:00,1946-05-16 00:00:00,1912-01-04 00:00:00,1942-08-14 00:00:00,1950-05-07 00:00:00,1932-05-10 00:00:00,1927-11-23 00:00:00,1982-10-27 00:00:00,1922-10-19 00:00:00,1970-05-29 00:00:00,1938-05-18 00:00:00,1925-10-07 00:00:00
IDADE,459,465,484,479,473,476,461,494,485,477,512,481,473,491,496,441,501,453,486,498
SEXO,1,2,2,2,2,1,1,1,2,1,1,1,1,1,1,1,2,2,1,1
RACACOR,1.0,1.0,4.0,1.0,2.0,1.0,4.0,1.0,1.0,1.0,4.0,-1.0,4.0,4.0,1.0,4.0,1.0,2.0,1.0,4.0
ESTCIV,1.0,2.0,2.0,2.0,5.0,2.0,2.0,2.0,9.0,2.0,3.0,4.0,3.0,2.0,3.0,1.0,3.0,1.0,2.0,3.0
ESC2010,0.0,5.0,0.0,9.0,0.0,0.0,9.0,9.0,9.0,9.0,1.0,1.0,9.0,0.0,0.0,2.0,0.0,1.0,0.0,9.0
OCUP,622020.0,-1.0,622005.0,-1.0,-1.0,-1.0,999993.0,999993.0,999993.0,999993.0,999993.0,999993.0,999993.0,999993.0,622005.0,622005.0,999993.0,622005.0,622005.0,999993.0
CODMUNRES,240490,241050,241050,241050,240320,240320,241060,241060,241060,241060,240400,241450,241450,241450,240940,240940,240940,240940,240940,240010
LOCOCOR,1,3,3,3,3,3,3,1,3,1,3,1,1,3,3,3,3,3,3,2
CODESTAB,2407582.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2407647.0,-1.0,2407647.0,-1.0,2381354.0,2381354.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2474964.0
CODMUNOCOR,240490,241050,241050,241050,240320,240320,241060,241060,241060,241060,240400,241450,241450,241450,240940,240940,240940,240940,240940,240010
ASSISTMED,1.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0
NECROPSIA,-1.0,9.0,9.0,9.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,-1.0,-1.0,-1.0,2.0,-1.0,-1.0,-1.0,-1.0,9.0
LINHAA,*J81X,*I219,*I219,*J969,*I219,*I219,*J960,*A400,*J969,*R570,*R960,*I10X,*J960,*J158,*R092,*C259,*I461,*R99X,*I219,*J960
LINHAB,*I500,*A09X,*I10X,*J189,*I509,*I10X,*I278,*J129,*I469,*J81X,-1,*I469,*R571,-1,*R579,*C80X,*I10X,-1,*C765,*J18X
LINHAC,*I279,-1,*E112,*G309,*I10X,-1,*Q248,*R64X,*D649,*I509,-1,-1,*J690,-1,*A419,*F102,*E149,-1,-1,*L89X
LINHAD,*I10X,-1,-1,-1,-1,-1,-1,-1,*N19X,-1,-1,-1,-1,-1,*J189,-1,-1,-1,-1,*M625
LINHAII,-1,-1,-1,-1,-1,-1,*D752,-1,*I509,-1,-1,-1,*K746*K861,*I64X,-1,-1,*I64X,-1,-1,*F03X
CAUSABAS,I279,A09,E112,G309,I219,I219,Q248,J129,N19,I501,R960,I10,J690,J158,J189,C259,E149,R99,C765,J189
DTATESTADO,2024-04-19 00:00:00,2024-01-18 00:00:00,2024-01-22 00:00:00,2024-03-25 00:00:00,2024-01-12 00:00:00,2024-02-02 00:00:00,2024-01-05 00:00:00,2024-01-10 00:00:00,2024-03-01 00:00:00,2024-03-02 00:00:00,2024-02-26 00:00:00,2024-01-01 00:00:00,2024-01-05 00:00:00,2024-01-15 00:00:00,2024-04-25 00:00:00,2024-01-23 00:00:00,2024-04-30 00:00:00,2024-02-28 00:00:00,2024-05-23 00:00:00,2024-01-23 00:00:00
CIRCOBITO,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
ACIDTRAB,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
FONTE,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
NUMEROLOTE,20240003.0,20240003.0,20240003.0,20240007.0,20240001.0,20240001.0,20240001.0,20240001.0,20240002.0,20240002.0,20240004.0,20240001.0,20240002.0,20240002.0,20240010.0,20240003.0,20240011.0,20240005.0,20240013.0,20240002.0
DTCADASTRO,2024-05-03 00:00:00,2024-02-06 00:00:00,2024-02-06 00:00:00,2024-04-12 00:00:00,2024-02-05 00:00:00,2024-02-05 00:00:00,2024-01-22 00:00:00,2024-01-22 00:00:00,2024-03-11 00:00:00,2024-03-11 00:00:00,2024-04-03 00:00:00,2024-01-03 00:00:00,2024-01-24 00:00:00,2024-01-24 00:00:00,2024-04-30 00:00:00,2024-02-05 00:00:00,2024-05-17 00:00:00,2024-03-04 00:00:00,2024-06-12 00:00:00,2024-02-06 00:00:00
ATESTANTE,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,5.0,1.0,-1.0,1.0,2.0,5.0,2.0
DTRECEBIM,2024-05-08 00:00:00,2024-02-06 00:00:00,2024-02-06 00:00:00,2024-05-08 00:00:00,2024-02-06 00:00:00,2024-02-06 00:00:00,2024-01-26 00:00:00,2024-01-26 00:00:00,2024-03-11 00:00:00,2024-03-11 00:00:00,2024-04-03 00:00:00,2024-01-09 00:00:00,2024-01-26 00:00:00,2024-01-26 00:00:00,2024-05-08 00:00:00,2024-02-08 00:00:00,2024-05-20 00:00:00,2024-03-08 00:00:00,2024-06-21 00:00:00,2024-02-22 00:00:00
ATESTADO,J81/I500/I279/I10,I219/A09,I219/I10/E112,J969/J189/G309,I219/I509/I10,I219/I10,J960/I278/Q248*D752,A400/J129/R64,J969/I469/D649/N19*I509,R570/J81/I509,R960,I10/I469,J960/R571/J690*K746 K861,J158*I64,R092/R579/A419/J189,C259/C80/F102,I461/I10/E149*I64,R99,I219/C765,J960/J18/L89/M625*F03
DTRECORIGA,2024-05-08 00:00:00,2024-02-06 00:00:00,2024-02-06 00:00:00,2024-05-08 00:00:00,2024-02-06 00:00:00,2024-02-06 00:00:00,2024-01-26 00:00:00,2024-01-26 00:00:00,2024-03-11 00:00:00,2024-03-11 00:00:00,2024-04-03 00:00:00,2024-01-09 00:00:00,2024-01-26 00:00:00,2024-01-26 00:00:00,2024-05-08 00:00:00,2024-02-08 00:00:00,2024-05-20 00:00:00,2024-03-08 00:00:00,2024-06-21 00:00:00,2024-02-22 00:00:00
ESCFALAGR1,0.0,8.0,0.0,9.0,0.0,0.0,9.0,9.0,9.0,9.0,1.0,2.0,9.0,0.0,0.0,4.0,0.0,2.0,0.0,9.0
STDOEPIDEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
STDONOVA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
DIFDATA,19,19,15,45,25,4,21,16,10,9,37,8,21,14,13,16,20,9,29,30
TPOBITOCOR,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
DTCONINV,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00
CAUSABAS_O,I279,A09,E112,G309,I219,I219,Q248,J129,N19,I501,R960,I10,J690,J158,J189,C259,E149,R99,C765,J189
TPPOS,N,N,N,N,N,N,N,N,N,N,N,N,N,N,-1,-1,-1,-1,-1,N

In [87]:
colunas_excluir = [
    "CB_PRE", "CAUSAMAT", "EXAME", "CIRURGIA", "SERIESCFAL", "SERIESCMAE",
    "ESCMAEAGR1", "TPRESGINFO", "TP_ALTERA", "CB_ALT", "MORTEPARTO",
    "ALTCAUSA", "FONTES", "DTCADINF", "DTCONCASO", "VERSAOSIST", "VERSAOSCB",
    "OPOR_DO", "STCODIFICA", "CODIFICADO", "TPMORTEOCO", "COMUNSVOIM", "OBITOGRAV",
    "OBITOPUERP", "FONTEINV", "DTINVESTIG", "NUDIASOBCO", "DTCADINV", "TPNIVELINV",
    "IDADEMAE", "ESCMAE", "ESCMAE2010", "SERIESCMAE", "OCUPMAE",
    "QTDFILVIVO", "QTDFILMORT", "GRAVIDEZ", "SEMAGESTAC", "GESTACAO",
    "PARTO", "OBITOPARTO", "PESO", "CB_PRE", "CAUSAMAT", "ESCMAEAGR1",
    "MORTEPARTO", "contador", "ORIGEM", "ESC", "FONTES", "NECROPSIA"
]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426346 entries, 0 to 1426345
Data columns (total 41 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   TIPOBITO    1426346 non-null  int64
 1   DTOBITO     1426346 non-null  datetime64[ns]
 2   HORAOBITO   1426346 non-null  float64
 3   NATURAL     1426346 non-null  float64
 4   CODMUNNATU  1426346 non-null  float64
 5   DTNASC      1426346 non-null  datetime64[ns]
 6   IDADE       1426346 non-null  int64
 7   SEXO        1426346 non-null  int64
 8   RACACOR     1426346 non-null  float64
 9   ESTCIV      1426346 non-null  float64
 10  ESC2010     1426346 non-null  float64
 11  OCUP        1426346 non-null  float64
 12  CODMUNRES   1426346 non-null  int64
 13  LOCOCOR     1426346 non-null  int64
 14  CODESTAB    1426346 non-null  float64
 15  CODMUNOCOR  1426346 non-null  int64
 16  ASSISTMED   1426346 non-null  float64
 17  LINHAA      1426346 non-null  object
 18  LINHAB      1426346 non-null  object
 19  LINHAC      1426346 non-null  object
 20  LINHAD      1426346 non-null  object
 21  LINHAII     1426346 non-null  object
 22  CAUSABAS    1426346 non-null  object
 23  DTATESTADO  1426346 non-null  datetime64[ns]
 24  CIRCOBITO   1426346 non-null  float64
 25  ACIDTRAB    1426346 non-null  float64
 26  FONTE       1426346 non-null  float64
 27  NUMEROLOTE  1426346 non-null  float64
 28  DTCADASTRO  1426346 non-null  datetime64[ns]
 29  ATESTANTE   1426346 non-null  float64
 30  DTRECEBIM   1426346 non-null  datetime64[ns]
 31  ATESTADO    1426346 non-null  object
 32  DTRECORIGA  1426346 non-null  datetime64[ns]
 33  ESCFALAGR1  1426346 non-null  float64
 34  STDOEPIDEM  1426346 non-null  float64
 35  STDONOVA    1426346 non-null  int64
 36  DIFDATA     1426346 non-null  int64
 37  TPOBITOCOR  1426346 non-null  float64
 38  DTCONINV    1426346 non-null  datetime64[ns]
 39  CAUSABAS_O  1426346 non-null  object
 40  TPPOS       1426346 non-null  object
dtypes: datetime64[ns](7), float64(17), int64(8), object(9)
memory usage: 446.2+ MB

In [89]:
neg_one_counts = (df == -1).sum()
print("Count of -1 values in each column:")
print(neg_one_counts)

Count of -1 values in each column:
TIPOBITO            0
DTOBITO             0
HORAOBITO       47959
NATURAL         57729
CODMUNNATU      75977
DTNASC              0
IDADE               0
SEXO                0
RACACOR         19445
ESTCIV          59529
ESC2010         91225
OCUP           190132
CODMUNRES           0
LOCOCOR             0
CODESTAB       374264
CODMUNOCOR          0
ASSISTMED      438340
LINHAA          42658
LINHAB         337778
LINHAC         753284
LINHAD        1143296
LINHAII        819757
CAUSABAS            0
DTATESTADO          0
CIRCOBITO     1283156
ACIDTRAB      1377000
FONTE         1312381
NUMEROLOTE         88
DTCADASTRO          0
ATESTANTE       95234
DTRECEBIM           0
ATESTADO            4
DTRECORIGA          0
ESCFALAGR1      91231
STDOEPIDEM          2
STDONOVA            0
DIFDATA             0
TPOBITOCOR    1376898
DTCONINV            0
CAUSABAS_O       1213
TPPOS          513026
dtype: int64

In [85]:
filtered_df = df[df['LINHAA'].str.count('\\*') == 2][['LINHAA', 'ATESTADO']]
display(filtered_df)

             LINHAA                         ATESTADO
110      *O141*I64X                     O141 I64*A90
270      *B342*U071                    B342 U071/B24
271      *B342*U071                        B342 U071
274      *X950*S069                        X950 S069
296      *J988*U049  J988 U049/A419/L89/G20*R64 E119
...             ...                              ...
1426192  *C64X*C80X                          C64 C80
1426287  *C56X*C80X                          C56 C80
1426288  *C189*C80X                         C189 C80
1426293  *Y838*J989         Y838 J989/J159/R001/R579
1426309  *A419*R570                        A419 R570

[31300 rows x 2 columns]

In [91]:
df.to_csv('DO_24.csv', index=False)