In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Mortalidade_Geral_2021.csv', sep=';')

/tmp/ipython-input-874678499.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Mortalidade_Geral_2021.csv', sep=';')

In [ ]:
df = df[df['TIPOBITO'] != 1]
print(df['TIPOBITO'].value_counts())

TIPOBITO
2    1832649
Name: count, dtype: int64

In [ ]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,23032021,23032021,23032021,17042021,6012021,6022021,15022021,16022021,15022021,13022021
HORAOBITO,1500.0,243.0,1310.0,2149.0,420.0,1145.0,NaN,720.0,1320.0,700.0
NATURAL,811.0,812.0,812.0,812.0,812.0,812.0,812.0,812.0,812.0,812.0
...,...,...,...,...,...,...,...,...,...,...
MORTEPARTO,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
DTCONCASO,NaN,NaN,NaN,NaN,7062021.0,NaN,NaN,NaN,NaN,NaN
FONTESINF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALTCAUSA,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
CONTADOR,1313,1314,1315,1505,2215,2599,2600,2601,2602,2603

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1832649 entries, 0 to 1832648
Data columns (total 87 columns):
 #   Column      Dtype
---  ------      -----
 0   ORIGEM      int64
 1   TIPOBITO    int64
 2   DTOBITO     int64
 3   HORAOBITO   float64
 4   NATURAL     float64
 5   CODMUNNATU  float64
 6   DTNASC      float64
 7   IDADE       int64
 8   SEXO        int64
 9   RACACOR     float64
 10  ESTCIV      float64
 11  ESC         float64
 12  ESC2010     float64
 13  SERIESCFAL  float64
 14  OCUP        float64
 15  CODMUNRES   int64
 16  LOCOCOR     int64
 17  CODESTAB    float64
 18  ESTABDESCR  float64
 19  CODMUNOCOR  int64
 20  IDADEMAE    float64
 21  ESCMAE      float64
 22  ESCMAE2010  float64
 23  SERIESCMAE  float64
 24  OCUPMAE     float64
 25  QTDFILVIVO  float64
 26  QTDFILMORT  float64
 27  GRAVIDEZ    float64
 28  SEMAGESTAC  float64
 29  GESTACAO    float64
 30  PARTO       float64
 31  OBITOPARTO  float64
 32  PESO        float64
 33  TPMORTEOCO  float64
 34  OBITOGRAV   float64
 35  OBITOPUERP  float64
 36  ASSISTMED   float64
 37  EXAME       float64
 38  CIRURGIA    float64
 39  NECROPSIA   float64
 40  LINHAA      object
 41  LINHAB      object
 42  LINHAC      object
 43  LINHAD      object
 44  LINHAII     object
 45  CAUSABAS    object
 46  CB_PRE      float64
 47  COMUNSVOIM  float64
 48  DTATESTADO  float64
 49  CIRCOBITO   float64
 50  ACIDTRAB    float64
 51  FONTE       float64
 52  NUMEROLOTE  float64
 53  TPPOS       object
 54  DTINVESTIG  float64
 55  CAUSABAS_O  object
 56  DTCADASTRO  float64
 57  ATESTANTE   float64
 58  STCODIFICA  object
 59  CODIFICADO  object
 60  VERSAOSIST  object
 61  VERSAOSCB   float64
 62  FONTEINV    float64
 63  DTRECEBIM   float64
 64  ATESTADO    object
 65  DTRECORIGA  int64
 66  CAUSAMAT    object
 67  ESCMAEAGR1  float64
 68  ESCFALAGR1  float64
 69  STDOEPIDEM  float64
 70  STDONOVA    int64
 71  DIFDATA     int64
 72  NUDIASOBCO  float64
 73  NUDIASOBIN  float64
 74  DTCADINV    float64
 75  TPOBITOCOR  float64
 76  DTCONINV    float64
 77  FONTES      object
 78  TPRESGINFO  float64
 79  TPNIVELINV  object
 80  NUDIASINF   float64
 81  DTCADINF    float64
 82  MORTEPARTO  float64
 83  DTCONCASO   float64
 84  FONTESINF   float64
 85  ALTCAUSA    float64
 86  CONTADOR    int64
dtypes: float64(60), int64(12), object(15)
memory usage: 1.2+ GB

In [ ]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2021-03-23
1 2021-03-23
2 2021-03-23
3 2021-04-17
4 2021-01-06
datetime64[ns]

In [ ]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2021-05-20
1 2021-05-20
2 2021-05-20
3 2021-05-19
4 2021-01-14
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1962-06-18
1 1971-02-19
2 1956-10-01
3 1999-01-06
4 2020-08-20
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2021-03-29
1 2021-03-23
2 2021-03-23
3 2021-04-17
4 2021-01-06
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2021-06-29
datetime64[ns]

In [ ]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2021-05-19
1 2021-05-19
2 2021-05-19
3 2021-05-18
4 2021-01-14
datetime64[ns]

In [ ]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2021-05-20
1 2022-02-02
2 2021-05-20
3 2021-05-19
4 2021-06-30
datetime64[ns]

In [ ]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2021-06-07
datetime64[ns]

In [ ]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2021-06-07
datetime64[ns]

In [ ]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

In [ ]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1832649 entries, 0 to 1832648
Data columns (total 87 columns):
 #   Column      Dtype
---  ------      -----
 0   ORIGEM      int64
 1   TIPOBITO    int64
 2   DTOBITO     datetime64[ns]
 3   HORAOBITO   float64
 4   NATURAL     float64
 5   CODMUNNATU  float64
 6   DTNASC      datetime64[ns]
 7   IDADE       int64
 8   SEXO        int64
 9   RACACOR     float64
 10  ESTCIV      float64
 11  ESC         float64
 12  ESC2010     float64
 13  SERIESCFAL  float64
 14  OCUP        float64
 15  CODMUNRES   int64
 16  LOCOCOR     int64
 17  CODESTAB    float64
 18  ESTABDESCR  float64
 19  CODMUNOCOR  int64
 20  IDADEMAE    float64
 21  ESCMAE      float64
 22  ESCMAE2010  float64
 23  SERIESCMAE  float64
 24  OCUPMAE     float64
 25  QTDFILVIVO  float64
 26  QTDFILMORT  float64
 27  GRAVIDEZ    float64
 28  SEMAGESTAC  float64
 29  GESTACAO    float64
 30  PARTO       float64
 31  OBITOPARTO  float64
 32  PESO        float64
 33  TPMORTEOCO  float64
 34  OBITOGRAV   float64
 35  OBITOPUERP  float64
 36  ASSISTMED   float64
 37  EXAME       float64
 38  CIRURGIA    float64
 39  NECROPSIA   float64
 40  LINHAA      object
 41  LINHAB      object
 42  LINHAC      object
 43  LINHAD      object
 44  LINHAII     object
 45  CAUSABAS    object
 46  CB_PRE      float64
 47  COMUNSVOIM  float64
 48  DTATESTADO  object
 49  CIRCOBITO   float64
 50  ACIDTRAB    float64
 51  FONTE       float64
 52  NUMEROLOTE  float64
 53  TPPOS       object
 54  DTINVESTIG  datetime64[ns]
 55  CAUSABAS_O  object
 56  DTCADASTRO  datetime64[ns]
 57  ATESTANTE   float64
 58  STCODIFICA  object
 59  CODIFICADO  object
 60  VERSAOSIST  object
 61  VERSAOSCB   float64
 62  FONTEINV    float64
 63  DTRECEBIM   datetime64[ns]
 64  ATESTADO    object
 65  DTRECORIGA  datetime64[ns]
 66  CAUSAMAT    object
 67  ESCMAEAGR1  float64
 68  ESCFALAGR1  float64
 69  STDOEPIDEM  float64
 70  STDONOVA    int64
 71  DIFDATA     int64
 72  NUDIASOBCO  float64
 73  NUDIASOBIN  float64
 74  DTCADINV    datetime64[ns]
 75  TPOBITOCOR  float64
 76  DTCONINV    datetime64[ns]
 77  FONTES      object
 78  TPRESGINFO  float64
 79  TPNIVELINV  object
 80  NUDIASINF   float64
 81  DTCADINF    datetime64[ns]
 82  MORTEPARTO  float64
 83  DTCONCASO   datetime64[ns]
 84  FONTESINF   float64
 85  ALTCAUSA    float64
 86  CONTADOR    int64
dtypes: datetime64[ns](10), float64(51), int64(10), object(16)
memory usage: 1.2+ GB

In [ ]:
colunas_excluir = [
    "CB_PRE", "CAUSAMAT", "EXAME", "CIRURGIA", "SERIESCFAL", "SERIESCMAE",
    "ESCMAEAGR1", "TPRESGINFO", "TP_ALTERA", "CB_ALT", "MORTEPARTO",
    "ALTCAUSA", "FONTES", "DTCADINF", "DTCONCASO", "VERSAOSIST", "VERSAOSCB",
    "OPOR_DO", "STCODIFICA", "CODIFICADO", "TPMORTEOCO", "COMUNSVOIM", "OBITOGRAV",
    "OBITOPUERP", "FONTEINV", "DTINVESTIG", "NUDIASOBCO", "DTCADINV", "TPNIVELINV",
    "IDADEMAE", "ESCMAE", "ESCMAE2010", "SERIESCMAE", "OCUPMAE",
    "QTDFILVIVO", "QTDFILMORT", "GRAVIDEZ", "SEMAGESTAC", "GESTACAO",
    "PARTO", "OBITOPARTO", "PESO", "CB_PRE", "CAUSAMAT", "ESCMAEAGR1",
    "MORTEPARTO", "contador", "ORIGEM", "ESC", "FONTES", "NECROPSIA", "ACIDTRAB",
    "FONTE", "NUMEROLOTE", "DTCADASTRO", "ATESTANTE", "DTRECEBIM", "DTRECORIGA",
    "STDONOVA", "DIFDATA","TPOBITOCOR", "DTCONINV", "ESC2010", "TIPOBITO"

]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1832649 entries, 0 to 1832648
Data columns (total 28 columns):
 #   Column      Dtype
---  ------      -----
 0   DTOBITO     datetime64[ns]
 1   HORAOBITO   float64
 2   NATURAL     float64
 3   CODMUNNATU  float64
 4   DTNASC      datetime64[ns]
 5   IDADE       int64
 6   SEXO        int64
 7   RACACOR     float64
 8   ESTCIV      float64
 9   OCUP        float64
 10  CODMUNRES   int64
 11  LOCOCOR     int64
 12  CODESTAB    float64
 13  CODMUNOCOR  int64
 14  ASSISTMED   float64
 15  LINHAA      object
 16  LINHAB      object
 17  LINHAC      object
 18  LINHAD      object
 19  LINHAII     object
 20  CAUSABAS    object
 21  DTATESTADO  object
 22  CIRCOBITO   float64
 23  TPPOS       object
 24  CAUSABAS_O  object
 25  ATESTADO    object
 26  ESCFALAGR1  float64
 27  STDOEPIDEM  float64
dtypes: datetime64[ns](2), float64(11), int64(5), object(10)
memory usage: 391.5+ MB

In [ ]:
colunas_excluir = [
    "CONTADOR", "ESTABDESCR",
    "NUDIASOBIN","NUDIASINF",
    "FONTESINF"
]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [ ]:
df.to_csv('DO_21.csv', index=False)

# Ajustes de Idade e Ocupação

In [9]:
df_2021 = pd.read_csv('DO_21.csv')

In [10]:
df_2021['TIPOIDADE'] = np.where(df_2021['IDADE'] < 100, 0, df_2021['IDADE'].astype(str).str[0].astype(int))

In [11]:
df_2021['NR_IDADE'] = np.where(df_2021['IDADE'] < 100, df_2021['IDADE'],
                                 df_2021['IDADE'].astype(str).str[1:].apply(lambda x: int(x) if x else 0))

In [12]:
df_2021['OCUP'] = np.where(df_2021['OCUP'] > 999990, 999999, df_2021['OCUP'])

In [13]:
df_2021.to_csv('DO_21.csv', index=False)