In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('Mortalidade_Geral_2018.csv', sep=';')

/tmp/ipython-input-1857681910.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Mortalidade_Geral_2018.csv', sep=';')

# Analisando o DF

In [38]:
df.head().T

                   0         1         2         3         4
ORIGEM             1         1         1         1         1
TIPOBITO           2         2         2         2         2
DTOBITO     25042018  24052018  14022018  31072018  21092018
HORAOBITO      315.0       NaN    1400.0    1600.0    1718.0
NATURAL         16.0     812.0     812.0     812.0     812.0
...              ...       ...       ...       ...       ...
MORTEPARTO       NaN       NaN       NaN       NaN       NaN
DTCONCASO        NaN       NaN       NaN       NaN       NaN
FONTESINF        NaN       NaN       NaN       NaN       NaN
ALTCAUSA         NaN       NaN       NaN       NaN       NaN
CONTADOR          18      2120      2121      2122      2691

[87 rows x 5 columns]

In [39]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316719 entries, 0 to 1316718
Data columns (total 87 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ORIGEM      1316719 non-null  int64
 1   TIPOBITO    1316719 non-null  int64
 2   DTOBITO     1316719 non-null  int64
 3   HORAOBITO   1256102 non-null  float64
 4   NATURAL     1229630 non-null  float64
 5   CODMUNNATU  1211441 non-null  float64
 6   DTNASC      1312650 non-null  float64
 7   IDADE       1316719 non-null  int64
 8   SEXO        1316719 non-null  int64
 9   RACACOR     1279487 non-null  float64
 10  ESTCIV      1236947 non-null  float64
 11  ESC         1199710 non-null  float64
 12  ESC2010     1192803 non-null  float64
 13  SERIESCFAL  283318 non-null   float64
 14  OCUP        1094113 non-null  float64
 15  CODMUNRES   1316719 non-null  int64
 16  LOCOCOR     1316719 non-null  int64
 17  CODESTAB    960461 non-null   float64
 18  ESTABDESCR  0 non-null        float64
 19  CODMUNOCOR  1316719 non-null  int64
 20  IDADEMAE    32601 non-null    float64
 21  ESCMAE      32201 non-null    float64
 22  ESCMAE2010  32065 non-null    float64
 23  SERIESCMAE  13269 non-null    float64
 24  OCUPMAE     28947 non-null    float64
 25  QTDFILVIVO  32246 non-null    float64
 26  QTDFILMORT  30990 non-null    float64
 27  GRAVIDEZ    33399 non-null    float64
 28  SEMAGESTAC  31382 non-null    float64
 29  GESTACAO    31521 non-null    float64
 30  PARTO       33220 non-null    float64
 31  OBITOPARTO  32958 non-null    float64
 32  PESO        32123 non-null    float64
 33  TPMORTEOCO  81552 non-null    float64
 34  OBITOGRAV   81947 non-null    float64
 35  OBITOPUERP  81899 non-null    float64
 36  ASSISTMED   914428 non-null   float64
 37  EXAME       2172 non-null     float64
 38  CIRURGIA    2042 non-null     float64
 39  NECROPSIA   936186 non-null   float64
 40  LINHAA      1278595 non-null  object
 41  LINHAB      1020450 non-null  object
 42  LINHAC      639060 non-null   object
 43  LINHAD      273682 non-null   object
 44  LINHAII     465812 non-null   object
 45  CAUSABAS    1316719 non-null  object
 46  CB_PRE      0 non-null        float64
 47  COMUNSVOIM  245640 non-null   float64
 48  DTATESTADO  1306593 non-null  float64
 49  CIRCOBITO   150906 non-null   float64
 50  ACIDTRAB    44930 non-null    float64
 51  FONTE       122541 non-null   float64
 52  NUMEROLOTE  1316626 non-null  float64
 53  TPPOS       850444 non-null   object
 54  DTINVESTIG  211899 non-null   float64
 55  CAUSABAS_O  1315816 non-null  object
 56  DTCADASTRO  1312600 non-null  float64
 57  ATESTANTE   1196430 non-null  float64
 58  STCODIFICA  1316421 non-null  object
 59  CODIFICADO  1316718 non-null  object
 60  VERSAOSIST  1316718 non-null  object
 61  VERSAOSCB   1260522 non-null  float64
 62  FONTEINV    217315 non-null   float64
 63  DTRECEBIM   1316445 non-null  float64
 64  ATESTADO    1316719 non-null  object
 65  DTRECORIGA  1316719 non-null  int64
 66  CAUSAMAT    21 non-null       object
 67  ESCMAEAGR1  32065 non-null    float64
 68  ESCFALAGR1  1192803 non-null  float64
 69  STDOEPIDEM  1316718 non-null  float64
 70  STDONOVA    1316719 non-null  int64
 71  DIFDATA     1316719 non-null  int64
 72  NUDIASOBCO  57495 non-null    float64
 73  NUDIASOBIN  0 non-null        float64
 74  DTCADINV    57903 non-null    float64
 75  TPOBITOCOR  57903 non-null    float64
 76  DTCONINV    57438 non-null    float64
 77  FONTES      32303 non-null    object
 78  TPRESGINFO  3224 non-null     float64
 79  TPNIVELINV  57961 non-null    object
 80  NUDIASINF   0 non-null        float64
 81  DTCADINF    32303 non-null    float64
 82  MORTEPARTO  32303 non-null    float64
 83  DTCONCASO   29807 non-null    float64
 84  FONTESINF   0 non-null        float64
 85  ALTCAUSA    31104 non-null    float64
 86  CONTADOR    1316719 non-null  int64
dtypes: float64(60), int64(12), object(15)
memory usage: 874.0+ MB

In [40]:
df.isnull().sum().to_csv("nulos.csv")

In [41]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2018-04-25
1 2018-05-24
2 2018-02-14
3 2018-07-31
4 2018-09-21
datetime64[ns]

In [42]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2018-05-29
1 2019-05-21
2 2018-02-22
3 2019-04-09
4 2018-09-28
datetime64[ns]

In [43]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1965-11-03
1 2018-05-20
2 1925-06-02
3 1928-08-25
4 1941-07-04
datetime64[ns]

In [44]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2018-04-25
1 2018-08-24
2 2018-02-16
3 2018-08-01
4 2018-09-21
datetime64[ns]

In [45]:
df['DTATESTADO'].isnull().sum()

np.int64(0)

In [46]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [47]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2018-05-25
1 2019-05-21
2 2018-02-22
3 2019-04-09
4 2018-09-26
datetime64[ns]

In [48]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2019-06-27
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2018-09-28
datetime64[ns]

In [49]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [50]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [51]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [52]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [53]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

In [54]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316719 entries, 0 to 1316718
Data columns (total 87 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ORIGEM      1316719 non-null  int64
 1   TIPOBITO    1316719 non-null  int64
 2   DTOBITO     1316719 non-null  datetime64[ns]
 3   HORAOBITO   1316719 non-null  float64
 4   NATURAL     1316719 non-null  float64
 5   CODMUNNATU  1316719 non-null  float64
 6   DTNASC      1316719 non-null  datetime64[ns]
 7   IDADE       1316719 non-null  int64
 8   SEXO        1316719 non-null  int64
 9   RACACOR     1316719 non-null  float64
 10  ESTCIV      1316719 non-null  float64
 11  ESC         1316719 non-null  float64
 12  ESC2010     1316719 non-null  float64
 13  SERIESCFAL  1316719 non-null  float64
 14  OCUP        1316719 non-null  float64
 15  CODMUNRES   1316719 non-null  int64
 16  LOCOCOR     1316719 non-null  int64
 17  CODESTAB    1316719 non-null  float64
 18  ESTABDESCR  1316719 non-null  float64
 19  CODMUNOCOR  1316719 non-null  int64
 20  IDADEMAE    1316719 non-null  float64
 21  ESCMAE      1316719 non-null  float64
 22  ESCMAE2010  1316719 non-null  float64
 23  SERIESCMAE  1316719 non-null  float64
 24  OCUPMAE     1316719 non-null  float64
 25  QTDFILVIVO  1316719 non-null  float64
 26  QTDFILMORT  1316719 non-null  float64
 27  GRAVIDEZ    1316719 non-null  float64
 28  SEMAGESTAC  1316719 non-null  float64
 29  GESTACAO    1316719 non-null  float64
 30  PARTO       1316719 non-null  float64
 31  OBITOPARTO  1316719 non-null  float64
 32  PESO        1316719 non-null  float64
 33  TPMORTEOCO  1316719 non-null  float64
 34  OBITOGRAV   1316719 non-null  float64
 35  OBITOPUERP  1316719 non-null  float64
 36  ASSISTMED   1316719 non-null  float64
 37  EXAME       1316719 non-null  float64
 38  CIRURGIA    1316719 non-null  float64
 39  NECROPSIA   1316719 non-null  float64
 40  LINHAA      1316719 non-null  object
 41  LINHAB      1316719 non-null  object
 42  LINHAC      1316719 non-null  object
 43  LINHAD      1316719 non-null  object
 44  LINHAII     1316719 non-null  object
 45  CAUSABAS    1316719 non-null  object
 46  CB_PRE      1316719 non-null  float64
 47  COMUNSVOIM  1316719 non-null  float64
 48  DTATESTADO  1316719 non-null  datetime64[ns]
 49  CIRCOBITO   1316719 non-null  float64
 50  ACIDTRAB    1316719 non-null  float64
 51  FONTE       1316719 non-null  float64
 52  NUMEROLOTE  1316719 non-null  float64
 53  TPPOS       1316719 non-null  object
 54  DTINVESTIG  1316719 non-null  datetime64[ns]
 55  CAUSABAS_O  1316719 non-null  object
 56  DTCADASTRO  1316719 non-null  datetime64[ns]
 57  ATESTANTE   1316719 non-null  float64
 58  STCODIFICA  1316719 non-null  object
 59  CODIFICADO  1316719 non-null  object
 60  VERSAOSIST  1316719 non-null  object
 61  VERSAOSCB   1316719 non-null  float64
 62  FONTEINV    1316719 non-null  float64
 63  DTRECEBIM   1316719 non-null  datetime64[ns]
 64  ATESTADO    1316719 non-null  object
 65  DTRECORIGA  1316719 non-null  datetime64[ns]
 66  CAUSAMAT    1316719 non-null  object
 67  ESCMAEAGR1  1316719 non-null  float64
 68  ESCFALAGR1  1316719 non-null  float64
 69  STDOEPIDEM  1316719 non-null  float64
 70  STDONOVA    1316719 non-null  int64
 71  DIFDATA     1316719 non-null  int64
 72  NUDIASOBCO  1316719 non-null  float64
 73  NUDIASOBIN  1316719 non-null  float64
 74  DTCADINV    1316719 non-null  datetime64[ns]
 75  TPOBITOCOR  1316719 non-null  float64
 76  DTCONINV    1316719 non-null  datetime64[ns]
 77  FONTES      1316719 non-null  object
 78  TPRESGINFO  1316719 non-null  float64
 79  TPNIVELINV  1316719 non-null  object
 80  NUDIASINF   1316719 non-null  float64
 81  DTCADINF    1316719 non-null  datetime64[ns]
 82  MORTEPARTO  1316719 non-null  float64
 83  DTCONCASO   1316719 non-null  datetime64[ns]
 84  FONTESINF   1316719 non-null  float64
 85  ALTCAUSA    1316719 non-null  float64
 86  CONTADOR    1316719 non-null  int64
dtypes: datetime64[ns](11), float64(51), int64(10), object(15)
memory usage: 874.0+ MB