In [36]:
import pandas as pd
import sqlite3
from datetime import datetime
import json

In [37]:
df_18 = pd.read_csv('DO_18.csv', sep=',')
df_19 = pd.read_csv('DO_19.csv', sep=',')
df_20 = pd.read_csv('DO_20.csv', sep=',')
df_21 = pd.read_csv('DO_21.csv', sep=',')
df_22 = pd.read_csv('DO_22.csv', sep=',')
df_23 = pd.read_csv('DO_23.csv', sep=',')
df_24 = pd.read_csv('DO_24.csv', sep=',')

In [38]:
df_18.head().T

,0,1,2,3,4
TIPOBITO,2,2,2,2,2
DTOBITO,2018-04-25,2018-05-24,2018-02-14,2018-07-31,2018-09-21
HORAOBITO,315.0,-1.0,1400.0,1600.0,1718.0
NATURAL,16.0,812.0,812.0,812.0,812.0
CODMUNNATU,-1.0,120032.0,120030.0,120030.0,120010.0
DTNASC,1965-11-03,2018-05-20,1925-06-02,1928-08-25,1941-07-04
IDADE,452,204,492,489,477
SEXO,1,2,1,2,1
RACACOR,1.0,5.0,5.0,5.0,4.0
ESTCIV,2.0,-1.0,-1.0,-1.0,5.0
OCUP,214120.0,-1.0,-1.0,-1.0,999993.0
CODMUNRES,120000,120032,120030,120030,120005
LOCOCOR,2,5,3,3,3
CODESTAB,2281147.0,-1.0,-1.0,-1.0,-1.0
CODMUNOCOR,330010,120032,120030,120030,120005
ASSISTMED,9.0,-1.0,1.0,2.0,-1.0
LINHAA,*R99X,*P291,*I219,*J960,*C711
LINHAB,-1,*P285,*I517,*J159,-1
LINHAC,-1,*P239,-1,-1,-1
LINHAD,-1,*P002,-1,-1,-1
LINHAII,-1,-1,-1,*I500,-1
CAUSABAS,R99,P002,I219,J159,C711
DTATESTADO,2018-04-25,2018-08-24,2018-02-16,2018-08-01,2018-09-21
CIRCOBITO,-1.0,-1.0,-1.0,-1.0,-1.0
TPPOS,N,-1,-1,-1,-1
CAUSABAS_O,R99,-1,-1,-1,C711
ATESTADO,R99,P291/P285/P239/P002,I219/I517,J960/J159*I500,C711
ESCFALAGR1,8.0,-1.0,0.0,0.0,2.0
STDOEPIDEM,0.0,0.0,0.0,0.0,0.0

In [39]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_TIPO_CAUSA" (
    "SK_TIPO_CAUSA" INTEGER NOT NULL UNIQUE,
    "DS_TIPO_CAUSA" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_TIPO_CAUSA")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_DOENÇA" (
    "SK_DOENÇA" INTEGER,
    "CD_CID" TEXT NOT NULL UNIQUE,
    "DS_DOENÇA" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_DOENÇA")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_MUNICIPIO" (
    "SK_MUNICIPIO" INTEGER NOT NULL UNIQUE,
    "CD_MUNICIPIO" INTEGER,
    "NM_MUNICIPIO" TEXT,
    "CD_UF" TEXT,
    "NM_REGIAO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_MUNICIPIO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_OCUPACAO" (
    "SK_OCUPACAO" INTEGER NOT NULL UNIQUE,
    "CD_CBO" INTEGER,
    "DS_OCUPACAO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_OCUPACAO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_OCUPACAO" (
    "SK_OCUPACAO" INTEGER NOT NULL UNIQUE,
    "CD_CBO" INTEGER,
    "DS_OCUPACAO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_OCUPACAO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_SEXO" (
    "SK_SEXO" INTEGER NOT NULL UNIQUE,
    "CD_SEXO" INTEGER,
    "DS_SEXO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_SEXO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_RACA_COR" (
    "SK_RACA_COR" INTEGER NOT NULL UNIQUE,
    "CD_RACA_COR" INTEGER,
    "DS_RACA_COR" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_RACA_COR")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_ESTADO_CIVIL" (
    "SK_ESTADO_CIVIL" INTEGER NOT NULL UNIQUE,
    "CD_ESTADO_CIVIL" INTEGER,
    "DS_ESTADO_CIVIL" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_ESTADO_CIVIL")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_ESCOLARIDADE" (
    "SK_ESCOLARIDADE" INTEGER NOT NULL UNIQUE,
    "CD_ESCOLARIDADE" INTEGER,
    "DS_ESCOLARIDADE" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_ESCOLARIDADE")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_TIPO_IDADE" (
    "SK_TIPO_IDADE" INTEGER NOT NULL UNIQUE,
    "CD_TIPO_IDADE" INTEGER,
    "DS_TIPO_IDADE" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_TIPO_IDADE")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_LOCAL_OBITO" (
    "SK_LOCAL_OBITO" INTEGER NOT NULL UNIQUE,
    "CD_LOCAL_OBITO" INTEGER,
    "DS_LOCAL_OBITO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_LOCAL_OBITO")
)''')

# Tabela de dimensão do falecido
cursor.execute('''
CREATE TABLE IF NOT EXISTS "DWCD_FALECIDO" (
    "SK_FALECIDO" INTEGER NOT NULL UNIQUE,
    "SK_SEXO" INTEGER,
    "SK_RACA_COR" INTEGER,
    "SK_ESTADO_CIVIL" INTEGER,
    "SK_ESCOLARIDADE" INTEGER,
    "SK_OCUPACAO" INTEGER,
    "SK_MUNICIPIO_NATURAL" INTEGER,
    "SK_MUNICIPIO_RES" INTEGER,
    "SK_TIPO_IDADE" INTEGER,
    "DS_IDADE" INTEGER,
    "DT_NASC" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_FALECIDO")
)''')

# Tabela de fatos do óbito
cursor.execute('''
CREATE TABLE IF NOT EXISTS "DWMV_OBITO" (
    "SK_OBITO" INTEGER NOT NULL UNIQUE,
    "SK_FALECIDO" INTEGER,
    "DT_OBITO" TEXT,
    "HR_OBITO" TEXT,
    "SK_MUNICIPIO_OCOR" INTEGER,
    "SK_LOCAL_OBITO" INTEGER,
    "ST_ASSISTMED" TEXT,
    "ST_EPISINVEST" TEXT,
    "ST_EPIDEMIA" TEXT,
    "DT_ATESTADO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_OBITO")
)''')

# Tabela de relacionamento ÓBITO ↔ CAUSA
cursor.execute('''
CREATE TABLE IF NOT EXISTS "DWMV_REL_OBITO_CAUSA" (
    "SK_OBITO_CAUSA" INTEGER NOT NULL UNIQUE,
    "SK_OBITO" INTEGER,
    "SK_TIPO_CAUSA" INTEGER,
    "SK_DOENÇA" INTEGER,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_OBITO_CAUSA")
)''')

conn.commit()
conn.close()

# Tabela tipo causa

In [40]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista de causas a inserir
causas = [
    "Causa Terminal",
    "Causa Antecedente ou Consequencial",
    "Causa Básica"
]

for causa in causas:
    # Verifica se a causa já existe
    cursor.execute('''
        SELECT SK_TIPO_CAUSA FROM DWCD_TIPO_CAUSA
        WHERE DS_TIPO_CAUSA = ?
    ''', (causa,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_TIPO_CAUSA (DS_TIPO_CAUSA, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?)
        ''', (causa, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {causa}")
    else:
        print(f"⚠️ Já existe no banco: {causa}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: Causa Terminal
⚠️ Já existe no banco: Causa Antecedente ou Consequencial
⚠️ Já existe no banco: Causa Básica

In [41]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_TIPO_CAUSA")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_TIPO_CAUSA                       DS_TIPO_CAUSA ST_SITUACAO  \
0              1                      Causa Terminal           A
1              2  Causa Antecedente ou Consequencial           A
2              3                        Causa Básica           A

              DT_CARGA
0  2025-09-12 11:09:55
1  2025-09-12 11:09:55
2  2025-09-12 11:09:55

# Tabela CID

In [42]:
# Carregar o arquivo JSON
with open("api.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Transformar em DataFrame
df_cid = pd.DataFrame(data["data"])

In [43]:
colunas_excluir = [
    "codigo_nome"

]

df_cid = df_cid.drop(columns=colunas_excluir, errors="ignore")

In [44]:
# Remove todos os pontos da coluna 'codigo'
df_cid["codigo"] = df_cid["codigo"].str.replace(".", "", regex=False)

# Conferir resultado
print(df_cid.head())

  codigo                                               nome
0    A00                                             Cólera
1   A000  Cólera Devida a Vibrio Cholerae 01, Biótipo Ch...
2   A001  Cólera Devida a Vibrio Cholerae 01, Biótipo El...
3   A009                            Cólera Não Especificada
4    A01                       Febres Tifóide e Paratifóide

In [45]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

insert_query = """
INSERT OR IGNORE INTO DWCD_DOENÇA (CD_CID, DS_DOENÇA, ST_SITUACAO, DT_CARGA)
VALUES (?, ?, 'A', ?)
"""

data = df_cid[['codigo','nome']].values.tolist()
current_datetime = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Add the current datetime to each row in the data list
data_with_datetime = [row + [current_datetime] for row in data]

cursor.executemany(insert_query, data_with_datetime)
conn.commit()
conn.close()

In [46]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_DOENÇA")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)

conn.close()

In [47]:
df.tail(10)

,SK_DOENÇA,CD_CID,DS_DOENÇA,ST_SITUACAO,DT_CARGA
14223,14224,Z981,Artrodese,A,2025-09-12 11:09:55
14224,14225,Z982,Presença de Dispositivo de Drenagem do Líquor,A,2025-09-12 11:09:55
14225,14226,Z988,Outros Estados Pós-cirúrgicos Especificados,A,2025-09-12 11:09:55
14226,14227,Z99,Dependência de Máquinas e Dispositivos Capacit...,A,2025-09-12 11:09:55
14227,14228,Z990,Dependência de Aspirador,A,2025-09-12 11:09:55
14228,14229,Z991,Dependência de Respirador,A,2025-09-12 11:09:55
14229,14230,Z992,Dependência de Diálise Renal,A,2025-09-12 11:09:55
14230,14231,Z993,Dependência de Cadeira de Rodas,A,2025-09-12 11:09:55
14231,14232,Z998,Dependência de Outras Máquinas e Aparelhos Cap...,A,2025-09-12 11:09:55
14232,14233,Z999,Dependência de Máquina e Aparelho Capacitante ...,A,2025-09-12 11:09:55

# Tabela de município

In [48]:
df_mun = pd.read_csv('lista_mun.csv', sep=';', encoding='latin-1')

In [49]:
df_mun.head()

,ConcatUF+Mun,IBGE,IBGE7,UF,Município,Região,População 2010,Porte,Capital,Unnamed: 9
0,ROAlta Floresta D'oeste,110001,1100015,RO,Alta Floresta D´oeste,Região Norte,24392.0,Pequeno II,NaN,PROCV(A2;'[Lista de Municípios com IBGE - Bras...
1,ROAriquemes,110002,1100023,RO,Ariquemes,Região Norte,90353.0,Médio,NaN,PROCV(A2;'Lista de Municípios IBGE'!$A$2:$G$55...
2,ROCabixi,110003,1100031,RO,Cabixi,Região Norte,6313.0,Pequeno I,NaN,NaN
3,ROCacoal,110004,1100049,RO,Cacoal,Região Norte,78574.0,Médio,NaN,NaN
4,ROCerejeiras,110005,1100056,RO,Cerejeiras,Região Norte,17029.0,Pequeno I,NaN,NaN

In [50]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

insert_query = """
INSERT OR IGNORE INTO DWCD_MUNICIPIO (CD_MUNICIPIO, NM_MUNICIPIO, CD_UF,NM_REGIAO,ST_SITUACAO,DT_CARGA)
VALUES (?, ?, ?, ?, 'A', ?)
"""

data = df_mun[['IBGE','Município', 'UF', 'Região']].values.tolist()
current_datetime = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Add the current datetime to each row in the data list
data_with_datetime = [row + [current_datetime] for row in data]

cursor.executemany(insert_query, data_with_datetime)
conn.commit()
conn.close()

In [51]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_MUNICIPIO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

       SK_MUNICIPIO  CD_MUNICIPIO           NM_MUNICIPIO CD_UF  \
0                 1        110001  Alta Floresta D´oeste    RO
1                 2        110002              Ariquemes    RO
2                 3        110003                 Cabixi    RO
3                 4        110004                 Cacoal    RO
4                 5        110005             Cerejeiras    RO
...             ...           ...                    ...   ...
11135         11136        522200             Vianópolis    GO
11136         11137        522205         Vicentinópolis    GO
11137         11138        522220               Vila Boa    GO
11138         11139        522230          Vila Propício    GO
11139         11140        530010               Brasília    DF

                 NM_REGIAO ST_SITUACAO             DT_CARGA
0             Região Norte           A  2025-09-12 11:09:55
1             Região Norte           A  2025-09-12 11:09:55
2             Região Norte           A  2025-09-12 11:09:55
3             Região Norte           A  2025-09-12 11:09:55
4             Região Norte           A  2025-09-12 11:09:55
...                    ...         ...                  ...
11135  Região Centro-Oeste           A  2025-09-12 11:37:51
11136  Região Centro-Oeste           A  2025-09-12 11:37:51
11137  Região Centro-Oeste           A  2025-09-12 11:37:51
11138  Região Centro-Oeste           A  2025-09-12 11:37:51
11139  Região Centro-Oeste           A  2025-09-12 11:37:51

[11140 rows x 7 columns]

# Tabela Ocupação

In [52]:
df_cbo = pd.read_csv('cbo2002.csv', sep=';', encoding='latin-1')

In [53]:
df_cbo.head()

,cod_grande_grupo,desc_grande_grupo,cod_sub_princ,cod_sub,cod_fam,cbo2002ocupacao,cbo_boletim,cbo_descricao
0,0,"Membros das forças armadas, policiais e bombei...",1,10,101,10105,101-05,Oficial general da aeronáutica
1,0,"Membros das forças armadas, policiais e bombei...",1,10,101,10110,101-10,Oficial general do exército
2,0,"Membros das forças armadas, policiais e bombei...",1,10,101,10115,101-15,Oficial general da marinha
3,0,"Membros das forças armadas, policiais e bombei...",1,10,102,10205,102-05,Oficial da aeronáutica
4,0,"Membros das forças armadas, policiais e bombei...",1,10,102,10210,102-10,Oficial do exército

In [54]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

insert_query = """
INSERT OR IGNORE INTO DWCD_OCUPACAO (CD_CBO, DS_OCUPACAO, ST_SITUACAO,DT_CARGA)
VALUES (?, ?,'A', ?)
"""

data = df_cbo[['cbo2002ocupacao','cbo_descricao']].values.tolist()
current_datetime = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Add the current datetime to each row in the data list
data_with_datetime = [row + [current_datetime] for row in data]

cursor.executemany(insert_query, data_with_datetime)
conn.commit()
conn.close()

In [55]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_OCUPACAO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

      SK_OCUPACAO  CD_CBO                                        DS_OCUPACAO  \
0               1   10105                     Oficial general da aeronáutica
1               2   10110                        Oficial general do exército
2               3   10115                         Oficial general da marinha
3               4   10205                             Oficial da aeronáutica
4               5   10210                                Oficial do exército
...           ...     ...                                                ...
5585         5586  992210  Encarregado de equipe de conservação de vias p...
5586         5587  992215  Operador de ceifadeira na conservação de vias ...
5587         5588  992220  Pedreiro de conservação de vias permanentes (e...
5588         5589  992225  Auxiliar geral de conservação de vias permanen...
5589         5590  999999                                   Não Identificado

     ST_SITUACAO             DT_CARGA
0              A  2025-09-12 11:09:56
1              A  2025-09-12 11:09:56
2              A  2025-09-12 11:09:56
3              A  2025-09-12 11:09:56
4              A  2025-09-12 11:09:56
...          ...                  ...
5585           A  2025-09-12 11:37:51
5586           A  2025-09-12 11:37:51
5587           A  2025-09-12 11:37:51
5588           A  2025-09-12 11:37:51
5589           A  2025-09-12 11:37:51

[5590 rows x 5 columns]

# Tabela genero

In [56]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista de valores de sexo
sexos = [
    ("M", "Masculino"),
    ("1", "Masculino"),
    ("F", "Feminino"),
    ("2", "Feminino"),
    ("I", "Ignorado"),
    ("0", "Ignorado"),
    ("9", "Ignorado"),
]

for cd_sexo, descricao in sexos:
    # Verifica se já existe
    cursor.execute('''
    SELECT SK_SEXO FROM DWCD_SEXO
    WHERE CD_SEXO = ?
    ''', (cd_sexo,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_SEXO (CD_SEXO, DS_SEXO, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_sexo, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_sexo} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_sexo} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: M - Masculino
⚠️ Já existe no banco: 1 - Masculino
⚠️ Já existe no banco: F - Feminino
⚠️ Já existe no banco: 2 - Feminino
⚠️ Já existe no banco: I - Ignorado
⚠️ Já existe no banco: 0 - Ignorado
⚠️ Já existe no banco: 9 - Ignorado

In [57]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_SEXO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_SEXO CD_SEXO    DS_SEXO ST_SITUACAO             DT_CARGA
0        1       M  Masculino           A  2025-09-12 11:09:56
1        2       1  Masculino           A  2025-09-12 11:09:56
2        3       F   Feminino           A  2025-09-12 11:09:56
3        4       2   Feminino           A  2025-09-12 11:09:56
4        5       I   Ignorado           A  2025-09-12 11:09:56
5        6       0   Ignorado           A  2025-09-12 11:09:56
6        7       9   Ignorado           A  2025-09-12 11:09:56

# Tabela raca

In [58]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de raça/cor
racas = [
    (1, "Branca"),
    (2, "Preta"),
    (3, "Amarela"),
    (4, "Parda"),
    (5, "Indígena")
]

for cd_raca, descricao in racas:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_RACA_COR FROM DWCD_RACA_COR
        WHERE CD_RACA_COR = ?
    ''', (cd_raca,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_RACA_COR (CD_RACA_COR, DS_RACA_COR, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_raca, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_raca} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_raca} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: 1 - Branca
⚠️ Já existe no banco: 2 - Preta
⚠️ Já existe no banco: 3 - Amarela
⚠️ Já existe no banco: 4 - Parda
⚠️ Já existe no banco: 5 - Indígena

In [59]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_RACA_COR")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_RACA_COR  CD_RACA_COR DS_RACA_COR ST_SITUACAO             DT_CARGA
0            1            1      Branca           A  2025-09-12 11:09:56
1            2            2       Preta           A  2025-09-12 11:09:56
2            3            3     Amarela           A  2025-09-12 11:09:56
3            4            4       Parda           A  2025-09-12 11:09:56
4            5            5    Indígena           A  2025-09-12 11:09:56

# Tabela estado civil

In [60]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de estado civil
estados_civis = [
    (1, "Solteiro"),
    (2, "Casado"),
    (3, "Viúvo"),
    (4, "Separado judicialmente/Divorciado"),
    (5, "União estável"),
    (9, "Ignorado")
]

for cd_estciv, descricao in estados_civis:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_ESTADO_CIVIL FROM DWCD_ESTADO_CIVIL
        WHERE CD_ESTADO_CIVIL = ?
    ''', (cd_estciv,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_ESTADO_CIVIL (CD_ESTADO_CIVIL, DS_ESTADO_CIVIL, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_estciv, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_estciv} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_estciv} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: 1 - Solteiro
⚠️ Já existe no banco: 2 - Casado
⚠️ Já existe no banco: 3 - Viúvo
⚠️ Já existe no banco: 4 - Separado judicialmente/Divorciado
⚠️ Já existe no banco: 5 - União estável
⚠️ Já existe no banco: 9 - Ignorado

In [61]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_ESTADO_CIVIL")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_ESTADO_CIVIL  CD_ESTADO_CIVIL                    DS_ESTADO_CIVIL  \
0                1                1                           Solteiro
1                2                2                             Casado
2                3                3                              Viúvo
3                4                4  Separado judicialmente/Divorciado
4                5                5                      União estável
5                6                9                           Ignorado

  ST_SITUACAO             DT_CARGA
0           A  2025-09-12 11:09:56
1           A  2025-09-12 11:09:56
2           A  2025-09-12 11:09:56
3           A  2025-09-12 11:09:56
4           A  2025-09-12 11:09:56
5           A  2025-09-12 11:09:56

# Tabela escolaridade

In [62]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de escolaridade
escolaridades = [
    (0, "Sem Escolaridade"),
    (1, "Fundamental I Incompleto"),
    (2, "Fundamental I Completo"),
    (3, "Fundamental II Incompleto"),
    (4, "Fundamental II Completo"),
    (5, "Ensino Médio Incompleto"),
    (6, "Ensino Médio Completo"),
    (7, "Superior Incompleto"),
    (8, "Superior Completo"),
    (9, "Ignorado"),
    (10, "Fundamental I Incompleto ou Inespecífico"),
    (11, "Fundamental II Incompleto ou Inespecífico"),
    (12, "Ensino Médio Incompleto ou Inespecífico")
]

for cd_esc, descricao in escolaridades:
    # Verifica se já existe no banco
    cursor.execute('''
        SELECT SK_ESCOLARIDADE FROM DWCD_ESCOLARIDADE
        WHERE CD_ESCOLARIDADE = ?
    ''', (cd_esc,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_ESCOLARIDADE (CD_ESCOLARIDADE, DS_ESCOLARIDADE, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_esc, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_esc} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_esc} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: 0 - Sem Escolaridade
⚠️ Já existe no banco: 1 - Fundamental I Incompleto
⚠️ Já existe no banco: 2 - Fundamental I Completo
⚠️ Já existe no banco: 3 - Fundamental II Incompleto
⚠️ Já existe no banco: 4 - Fundamental II Completo
⚠️ Já existe no banco: 5 - Ensino Médio Incompleto
⚠️ Já existe no banco: 6 - Ensino Médio Completo
⚠️ Já existe no banco: 7 - Superior Incompleto
⚠️ Já existe no banco: 8 - Superior Completo
⚠️ Já existe no banco: 9 - Ignorado
⚠️ Já existe no banco: 10 - Fundamental I Incompleto ou Inespecífico
⚠️ Já existe no banco: 11 - Fundamental II Incompleto ou Inespecífico
⚠️ Já existe no banco: 12 - Ensino Médio Incompleto ou Inespecífico

In [63]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_ESCOLARIDADE")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

    SK_ESCOLARIDADE  CD_ESCOLARIDADE  \
0                 1                0
1                 2                1
2                 3                2
3                 4                3
4                 5                4
5                 6                5
6                 7                6
7                 8                7
8                 9                8
9                10                9
10               11               10
11               12               11
12               13               12

                              DS_ESCOLARIDADE ST_SITUACAO             DT_CARGA
0                            Sem Escolaridade           A  2025-09-12 11:09:56
1                    Fundamental I Incompleto           A  2025-09-12 11:09:56
2                      Fundamental I Completo           A  2025-09-12 11:09:56
3                   Fundamental II Incompleto           A  2025-09-12 11:09:56
4                     Fundamental II Completo           A  2025-09-12 11:09:56
5                     Ensino Médio Incompleto           A  2025-09-12 11:09:56
6                       Ensino Médio Completo           A  2025-09-12 11:09:56
7                         Superior Incompleto           A  2025-09-12 11:09:56
8                           Superior Completo           A  2025-09-12 11:09:56
9                                    Ignorado           A  2025-09-12 11:09:56
10   Fundamental I Incompleto ou Inespecífico           A  2025-09-12 11:09:56
11  Fundamental II Incompleto ou Inespecífico           A  2025-09-12 11:09:56
12    Ensino Médio Incompleto ou Inespecífico           A  2025-09-12 11:09:56

# Tabela idade

In [64]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de estado civil
idade = [
    (0, "Minutos"),
    (1, "Horas"),
    (2, "Dias"),
    (3, "Mes"),
    (4, "Anos"),
    (5, "Idade maior que 100 anos")
]

for cd_idade, descricao in idade:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_TIPO_IDADE FROM DWCD_TIPO_IDADE
        WHERE CD_TIPO_IDADE = ?
    ''', (cd_idade,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_TIPO_IDADE (CD_TIPO_IDADE, DS_TIPO_IDADE, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_idade, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_idade} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_idade} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: 0 - Minutos
⚠️ Já existe no banco: 1 - Horas
⚠️ Já existe no banco: 2 - Dias
⚠️ Já existe no banco: 3 - Mes
⚠️ Já existe no banco: 4 - Anos
⚠️ Já existe no banco: 5 - Idade maior que 100 anos

In [65]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_TIPO_IDADE")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_TIPO_IDADE  CD_TIPO_IDADE             DS_TIPO_IDADE ST_SITUACAO  \
0              1              0                   Minutos           A
1              2              1                     Horas           A
2              3              2                      Dias           A
3              4              3                       Mes           A
4              5              4                      Anos           A
5              6              5  Idade maior que 100 anos           A

              DT_CARGA
0  2025-09-12 11:09:56
1  2025-09-12 11:09:56
2  2025-09-12 11:09:56
3  2025-09-12 11:09:56
4  2025-09-12 11:09:56
5  2025-09-12 11:09:56

# Tabela local obito

In [66]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de estado civil
local_obito = [
    (1, "Hospital"),
    (2, "outros estabelecimentos de saúde"),
    (3, "Domicílio"),
    (4, "Via pública"),
    (5, "Outros"),
    (6, "Aldeia indígena"),
    (9, "Ignorado")
]

for cd_local_obito, descricao in local_obito:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_LOCAL_OBITO FROM DWCD_LOCAL_OBITO
        WHERE CD_LOCAL_OBITO = ?
    ''', (cd_local_obito,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_LOCAL_OBITO (CD_LOCAL_OBITO, DS_LOCAL_OBITO, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_local_obito, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_local_obito} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_local_obito} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: 1 - Hospital
⚠️ Já existe no banco: 2 - outros estabelecimentos de saúde
⚠️ Já existe no banco: 3 - Domicílio
⚠️ Já existe no banco: 4 - Via pública
⚠️ Já existe no banco: 5 - Outros
⚠️ Já existe no banco: 6 - Aldeia indígena
⚠️ Já existe no banco: 9 - Ignorado

In [67]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_LOCAL_OBITO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_LOCAL_OBITO  CD_LOCAL_OBITO                    DS_LOCAL_OBITO  \
0               1               1                          Hospital
1               2               2  outros estabelecimentos de saúde
2               3               3                         Domicílio
3               4               4                       Via pública
4               5               5                            Outros
5               6               6                   Aldeia indígena
6               7               9                          Ignorado

  ST_SITUACAO             DT_CARGA
0           A  2025-09-12 11:09:56
1           A  2025-09-12 11:09:56
2           A  2025-09-12 11:09:56
3           A  2025-09-12 11:09:56
4           A  2025-09-12 11:09:56
5           A  2025-09-12 11:09:56
6           A  2025-09-12 11:09:56

# Testes

In [68]:
def carregar_falecidos(df, db_path="Banco"):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Função auxiliar para normalizar ST
    def normalizar_st(valor):
        if valor == 1:
            return "S"
        elif valor == 2:
            return "N"
        elif valor in [9, -1]:
            return "I"
        return None

    # Pega SK próximo para falecido e óbito
    cursor.execute("SELECT MAX(SK_FALECIDO) FROM DWCD_FALECIDO")
    next_sk_falecido = (cursor.fetchone()[0] or 0) + 1

    cursor.execute("SELECT MAX(SK_OBITO) FROM DWMV_OBITO")
    next_sk_obito = (cursor.fetchone()[0] or 0) + 1

    for _, row in df.iterrows():
        # ======== IDADE ========
        idade_raw = str(row["IDADE"]).zfill(3)  # garante 3 dígitos
        cd_tipo_idade = int(idade_raw[0])       # 1º dígito
        ds_idade = int(idade_raw[1:])           # 2 últimos dígitos

        # Lookup SK_TIPO_IDADE
        cursor.execute("SELECT SK_TIPO_IDADE FROM DWCD_TIPO_IDADE WHERE CD_TIPO_IDADE = ?", (cd_tipo_idade,))
        sk_tipo_idade = cursor.fetchone()
        sk_tipo_idade = sk_tipo_idade[0] if sk_tipo_idade else None

        # Lookup Sexo
        cursor.execute("SELECT SK_SEXO FROM DWCD_SEXO WHERE CD_SEXO = ?", (row["SEXO"],))
        sk_sexo = cursor.fetchone()
        sk_sexo = sk_sexo[0] if sk_sexo else None

        # Lookup Raça/Cor
        cursor.execute("SELECT SK_RACA_COR FROM DWCD_RACA_COR WHERE CD_RACA_COR = ?", (row["RACACOR"],))
        sk_raca = cursor.fetchone()
        sk_raca = sk_raca[0] if sk_raca else None

        # Lookup Estado Civil
        cursor.execute("SELECT SK_ESTADO_CIVIL FROM DWCD_ESTADO_CIVIL WHERE CD_ESTADO_CIVIL = ?", (row["ESTCIV"],))
        sk_estciv = cursor.fetchone()
        sk_estciv = sk_estciv[0] if sk_estciv else None

        # Lookup Escolaridade
        cursor.execute("SELECT SK_ESCOLARIDADE FROM DWCD_ESCOLARIDADE WHERE CD_ESCOLARIDADE = ?", (row["ESCFALAGR1"],))
        sk_escolaridade = cursor.fetchone()
        sk_escolaridade = sk_escolaridade[0] if sk_escolaridade else None

        # Lookup Ocupação
        cursor.execute("SELECT SK_OCUPACAO FROM DWCD_OCUPACAO WHERE CD_CBO = ?", (row["OCUP"],))
        sk_ocup = cursor.fetchone()
        sk_ocup = sk_ocup[0] if sk_ocup else None

        # Lookup Municípios (nascimento e residência)
        cursor.execute("SELECT SK_MUNICIPIO FROM DWCD_MUNICIPIO WHERE CD_MUNICIPIO = ?", (row["CODMUNNATU"],))
        sk_mun_natu = cursor.fetchone()
        sk_mun_natu = sk_mun_natu[0] if sk_mun_natu else None

        cursor.execute("SELECT SK_MUNICIPIO FROM DWCD_MUNICIPIO WHERE CD_MUNICIPIO = ?", (row["CODMUNRES"],))
        sk_mun_res = cursor.fetchone()
        sk_mun_res = sk_mun_res[0] if sk_mun_res else None

        # ======== Inserir em DWCD_FALECIDO ========
        cursor.execute("""
            INSERT INTO DWCD_FALECIDO
            (SK_FALECIDO, SK_SEXO, SK_RACA_COR, SK_ESTADO_CIVIL, SK_ESCOLARIDADE,
             SK_OCUPACAO, SK_MUNICIPIO_NATURAL, SK_MUNICIPIO_RES, SK_TIPO_IDADE,
             DS_IDADE, DT_NASC, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, (
            next_sk_falecido, sk_sexo, sk_raca, sk_estciv, sk_escolaridade,
            sk_ocup, sk_mun_natu, sk_mun_res, sk_tipo_idade,
            ds_idade, row["DTNASC"], 'A',
            datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        ))

        # ======== Inserir em DWMV_OBITO ========
        cursor.execute("""
            INSERT INTO DWMV_OBITO
            (SK_OBITO, SK_FALECIDO, DT_OBITO, HR_OBITO, SK_MUNICIPIO_OCOR,
             SK_LOCAL_OBITO, ST_ASSISTMED, ST_EPISINVEST, ST_EPIDEMIA,
             DT_ATESTADO, DT_CARGA)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, (
            next_sk_obito, next_sk_falecido,
            row["DTOBITO"], row["HORAOBITO"], row["CODMUNOCOR"],
            row["LOCOCOR"], normalizar_st(row["ASSISTMED"]),
            normalizar_st(row.get("INVESTIG", -1)),
            normalizar_st(row.get("STDOEPIDEM", -1)),
            row["DTATESTADO"], datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        ))

        # ======== Inserir Causas ========
        causas = [
            ("Causa Básica", row["CAUSABAS"]),
            ("Causa Básica", row["CAUSABAS_O"]),
            ("Causa Terminal", row["LINHAA"]),
            ("Causa Antecedente ou Consequencial", row["LINHAB"]),
            ("Causa Antecedente ou Consequencial", row["LINHAC"]),
            ("Causa Antecedente ou Consequencial", row["LINHAD"]),
            ("Causa Antecedente ou Consequencial", row["LINHAII"]),
        ]
        for tipo, cid in causas:
            if cid not in [None, "-1", ""]:
                cid_norm = cid.replace("*", "").upper()

                cursor.execute("SELECT SK_TIPO_CAUSA FROM DWCD_TIPO_CAUSA WHERE DS_TIPO_CAUSA = ?", (tipo,))
                sk_tipo = cursor.fetchone()

                cursor.execute("SELECT SK_DOENÇA FROM DWCD_DOENÇA WHERE CD_CID = ?", (cid_norm,))
                sk_cid = cursor.fetchone()

                if sk_tipo and sk_cid:
                    cursor.execute("""
                        INSERT INTO DWMV_REL_OBITO_CAUSA
                        (SK_OBITO, SK_TIPO_CAUSA, SK_DOENÇA, DT_CARGA)
                        VALUES (?, ?, ?, ?)
                    """, (
                        next_sk_obito, sk_tipo[0], sk_cid[0],
                        datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                    ))

        # Incrementa os SKs para próxima linha
        next_sk_falecido += 1
        next_sk_obito += 1

    conn.commit()
    conn.close()
    print("✅ Carga concluída com sucesso!")

In [ ]:
carregar_falecidos(df_18)