In [1]:
import pandas as pd
import sqlite3
from datetime import datetime
import json

In [22]:
df_18 = pd.read_csv('DO_18.csv', sep=',')
df_19 = pd.read_csv('DO_19.csv', sep=',')
df_20 = pd.read_csv('DO_20.csv', sep=',')
df_21 = pd.read_csv('DO_21.csv', sep=',')
df_22 = pd.read_csv('DO_22.csv', sep=',')
df_23 = pd.read_csv('DO_23.csv', sep=',')
df_24 = pd.read_csv('DO_24.csv', sep=',')

In [99]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_TIPO_CAUSA" (
    "SK_TIPO_CAUSA" INTEGER NOT NULL UNIQUE,
    "DS_TIPO_CAUSA" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_TIPO_CAUSA")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_DOENÇA" (
    "SK_DOENÇA" INTEGER,
    "CD_CID" TEXT NOT NULL UNIQUE,
    "DS_DOENÇA" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_DOENÇA")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_MUNICIPIO" (
    "SK_MUNICIPIO" INTEGER NOT NULL UNIQUE,
    "CD_MUNICIPIO" INTEGER,
    "NM_MUNICIPIO" TEXT,
    "CD_UF" TEXT,
    "NM_REGIAO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_MUNICIPIO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_OCUPACAO" (
    "SK_OCUPACAO" INTEGER NOT NULL UNIQUE,
    "CD_CBO" INTEGER,
    "DS_OCUPACAO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_OCUPACAO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_OCUPACAO" (
    "SK_OCUPACAO" INTEGER NOT NULL UNIQUE,
    "CD_CBO" INTEGER,
    "DS_OCUPACAO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_OCUPACAO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_SEXO" (
    "SK_SEXO" INTEGER NOT NULL UNIQUE,
    "CD_SEXO" INTEGER,
    "DS_SEXO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_SEXO")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_RACA_COR" (
    "SK_RACA_COR" INTEGER NOT NULL UNIQUE,
    "CD_RACA_COR" INTEGER,
    "DS_RACA_COR" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_RACA_COR")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_ESTADO_CIVIL" (
    "SK_ESTADO_CIVIL" INTEGER NOT NULL UNIQUE,
    "CD_ESTADO_CIVIL" INTEGER,
    "DS_ESTADO_CIVIL" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_ESTADO_CIVIL")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_ESCOLARIDADE" (
    "SK_ESCOLARIDADE" INTEGER NOT NULL UNIQUE,
    "CD_ESCOLARIDADE" INTEGER,
    "DS_ESCOLARIDADE" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_ESCOLARIDADE")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_TIPO_IDADE" (
    "SK_TIPO_IDADE" INTEGER NOT NULL UNIQUE,
    "CD_TIPO_IDADE" INTEGER,
    "DS_TIPO_IDADE" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_TIPO_IDADE")
)''')

cursor.execute('''
  CREATE TABLE IF NOT EXISTS "DWCD_LOCAL_OBITO" (
    "SK_LOCAL_OBITO" INTEGER NOT NULL UNIQUE,
    "CD_LOCAL_OBITO" INTEGER,
    "DS_LOCAL_OBITO" TEXT,
    "ST_SITUACAO" TEXT,
    "DT_CARGA" TEXT,
    PRIMARY KEY("SK_LOCAL_OBITO")
)''')

conn.commit()
conn.close()

# Tabela tipo causa

In [28]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista de causas a inserir
causas = [
    "Causa Terminal",
    "Causa Antecedente ou Consequencial",
    "Causa Básica"
]

for causa in causas:
    # Verifica se a causa já existe
    cursor.execute('''
        SELECT SK_TIPO_CAUSA FROM DWCD_TIPO_CAUSA
        WHERE DS_TIPO_CAUSA = ?
    ''', (causa,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_TIPO_CAUSA (DS_TIPO_CAUSA, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?)
        ''', (causa, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {causa}")
    else:
        print(f"⚠️ Já existe no banco: {causa}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: Causa Terminal
⚠️ Já existe no banco: Causa Antecedente ou Consequencial
⚠️ Já existe no banco: Causa Básica

In [29]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_TIPO_CAUSA")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_TIPO_CAUSA                       DS_TIPO_CAUSA ST_SITUACAO  \
0              1                      Causa Terminal           A
1              2  Causa Antecedente ou Consequencial           A
2              3                        Causa Básica           A

              DT_CARGA
0  2025-09-10 11:08:42
1  2025-09-10 11:08:42
2  2025-09-10 11:08:42

# Tabela CID

In [ ]:
# Carregar o arquivo JSON
with open("api.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Transformar em DataFrame
df_cid = pd.DataFrame(data["data"])

In [ ]:
colunas_excluir = [
    "codigo_nome"

]

df_cid = df_cid.drop(columns=colunas_excluir, errors="ignore")

In [ ]:
# Remove todos os pontos da coluna 'codigo'
df_cid["codigo"] = df_cid["codigo"].str.replace(".", "", regex=False)

# Conferir resultado
print(df_cid.head())

  codigo                                               nome
0    A00                                             Cólera
1   A000  Cólera Devida a Vibrio Cholerae 01, Biótipo Ch...
2   A001  Cólera Devida a Vibrio Cholerae 01, Biótipo El...
3   A009                            Cólera Não Especificada
4    A01                       Febres Tifóide e Paratifóide

In [30]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

insert_query = """
INSERT OR IGNORE INTO DWCD_DOENÇA (CD_CID, DS_DOENÇA, ST_SITUACAO, DT_CARGA)
VALUES (?, ?, 'A', ?)
"""

data = df_cid[['codigo','nome']].values.tolist()
current_datetime = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Add the current datetime to each row in the data list
data_with_datetime = [row + [current_datetime] for row in data]

cursor.executemany(insert_query, data_with_datetime)
conn.commit()
conn.close()

NameError: name 'df_cid' is not defined

In [ ]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_DOENÇA")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)

conn.close()

In [ ]:
df.tail(10)

,SK_DOENÇA,CD_CID,DS_DOENÇA,ST_SITUACAO,DT_CARGA
14223,14224,Z981,Artrodese,A,2025-09-09 14:00:17
14224,14225,Z982,Presença de Dispositivo de Drenagem do Líquor,A,2025-09-09 14:00:17
14225,14226,Z988,Outros Estados Pós-cirúrgicos Especificados,A,2025-09-09 14:00:17
14226,14227,Z99,Dependência de Máquinas e Dispositivos Capacit...,A,2025-09-09 14:00:17
14227,14228,Z990,Dependência de Aspirador,A,2025-09-09 14:00:17
14228,14229,Z991,Dependência de Respirador,A,2025-09-09 14:00:17
14229,14230,Z992,Dependência de Diálise Renal,A,2025-09-09 14:00:17
14230,14231,Z993,Dependência de Cadeira de Rodas,A,2025-09-09 14:00:17
14231,14232,Z998,Dependência de Outras Máquinas e Aparelhos Cap...,A,2025-09-09 14:00:17
14232,14233,Z999,Dependência de Máquina e Aparelho Capacitante ...,A,2025-09-09 14:00:17

# Tabela de município

In [20]:
df_mun = pd.read_csv('lista_mun.csv', sep=';', encoding='latin-1')

In [21]:
df_mun.head()

,ConcatUF+Mun,IBGE,IBGE7,UF,Município,Região,População 2010,Porte,Capital,Unnamed: 9
0,ROAlta Floresta D'oeste,110001,1100015,RO,Alta Floresta D´oeste,Região Norte,24392.0,Pequeno II,NaN,PROCV(A2;'[Lista de Municípios com IBGE - Bras...
1,ROAriquemes,110002,1100023,RO,Ariquemes,Região Norte,90353.0,Médio,NaN,PROCV(A2;'Lista de Municípios IBGE'!$A$2:$G$55...
2,ROCabixi,110003,1100031,RO,Cabixi,Região Norte,6313.0,Pequeno I,NaN,NaN
3,ROCacoal,110004,1100049,RO,Cacoal,Região Norte,78574.0,Médio,NaN,NaN
4,ROCerejeiras,110005,1100056,RO,Cerejeiras,Região Norte,17029.0,Pequeno I,NaN,NaN

In [32]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

insert_query = """
INSERT OR IGNORE INTO DWCD_MUNICIPIO (CD_MUNICIPIO, NM_MUNICIPIO, CD_UF,NM_REGIAO,ST_SITUACAO,DT_CARGA)
VALUES (?, ?, ?, ?, 'A', ?)
"""

data = df_mun[['IBGE','Município', 'UF', 'Região']].values.tolist()
current_datetime = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Add the current datetime to each row in the data list
data_with_datetime = [row + [current_datetime] for row in data]

cursor.executemany(insert_query, data_with_datetime)
conn.commit()
conn.close()

In [33]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_MUNICIPIO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

      SK_MUNICIPIO  CD_MUNICIPIO           NM_MUNICIPIO CD_UF  \
0                1        110001  Alta Floresta D´oeste    RO
1                2        110002              Ariquemes    RO
2                3        110003                 Cabixi    RO
3                4        110004                 Cacoal    RO
4                5        110005             Cerejeiras    RO
...            ...           ...                    ...   ...
5565          5566        522200             Vianópolis    GO
5566          5567        522205         Vicentinópolis    GO
5567          5568        522220               Vila Boa    GO
5568          5569        522230          Vila Propício    GO
5569          5570        530010               Brasília    DF

                NM_REGIAO ST_SITUACAO             DT_CARGA
0            Região Norte           A  2025-09-10 11:13:57
1            Região Norte           A  2025-09-10 11:13:57
2            Região Norte           A  2025-09-10 11:13:57
3            Região Norte           A  2025-09-10 11:13:57
4            Região Norte           A  2025-09-10 11:13:57
...                   ...         ...                  ...
5565  Região Centro-Oeste           A  2025-09-10 11:13:57
5566  Região Centro-Oeste           A  2025-09-10 11:13:57
5567  Região Centro-Oeste           A  2025-09-10 11:13:57
5568  Região Centro-Oeste           A  2025-09-10 11:13:57
5569  Região Centro-Oeste           A  2025-09-10 11:13:57

[5570 rows x 7 columns]

# Tabela Ocupação

In [36]:
df_cbo = pd.read_csv('cbo2002.csv', sep=';', encoding='latin-1')

In [37]:
df_cbo.head()

,cod_grande_grupo,desc_grande_grupo,cod_sub_princ,cod_sub,cod_fam,cbo2002ocupacao,cbo_boletim,cbo_descricao
0,0,"Membros das forças armadas, policiais e bombei...",1,10,101,10105,101-05,Oficial general da aeronáutica
1,0,"Membros das forças armadas, policiais e bombei...",1,10,101,10110,101-10,Oficial general do exército
2,0,"Membros das forças armadas, policiais e bombei...",1,10,101,10115,101-15,Oficial general da marinha
3,0,"Membros das forças armadas, policiais e bombei...",1,10,102,10205,102-05,Oficial da aeronáutica
4,0,"Membros das forças armadas, policiais e bombei...",1,10,102,10210,102-10,Oficial do exército

In [56]:
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

insert_query = """
INSERT OR IGNORE INTO DWCD_OCUPACAO (CD_CBO, DS_OCUPACAO, ST_SITUACAO,DT_CARGA)
VALUES (?, ?,'A', ?)
"""

data = df_cbo[['cbo2002ocupacao','cbo_descricao']].values.tolist()
current_datetime = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Add the current datetime to each row in the data list
data_with_datetime = [row + [current_datetime] for row in data]

cursor.executemany(insert_query, data_with_datetime)
conn.commit()
conn.close()

In [58]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_OCUPACAO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

      SK_OCUPACAO  CD_CBO                                        DS_OCUPACAO  \
0               1   10105                     Oficial general da aeronáutica
1               2   10110                        Oficial general do exército
2               3   10115                         Oficial general da marinha
3               4   10205                             Oficial da aeronáutica
4               5   10210                                Oficial do exército
...           ...     ...                                                ...
2790         2791  992210  Encarregado de equipe de conservação de vias p...
2791         2792  992215  Operador de ceifadeira na conservação de vias ...
2792         2793  992220  Pedreiro de conservação de vias permanentes (e...
2793         2794  992225  Auxiliar geral de conservação de vias permanen...
2794         2795  999999                                   Não Identificado

     ST_SITUACAO             DT_CARGA
0              A  2025-09-10 11:34:43
1              A  2025-09-10 11:34:43
2              A  2025-09-10 11:34:43
3              A  2025-09-10 11:34:43
4              A  2025-09-10 11:34:43
...          ...                  ...
2790           A  2025-09-10 11:34:43
2791           A  2025-09-10 11:34:43
2792           A  2025-09-10 11:34:43
2793           A  2025-09-10 11:34:43
2794           A  2025-09-10 11:34:43

[2795 rows x 5 columns]

# Tabela genero

In [67]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista de valores de sexo
sexos = [
    ("M", "Masculino"),
    ("1", "Masculino"),
    ("F", "Feminino"),
    ("2", "Feminino"),
    ("I", "Ignorado"),
    ("0", "Ignorado"),
    ("9", "Ignorado"),
]

for cd_sexo, descricao in sexos:
    # Verifica se já existe
    cursor.execute('''
    SELECT SK_SEXO FROM DWCD_SEXO
    WHERE CD_SEXO = ?
    ''', (cd_sexo,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_SEXO (CD_SEXO, DS_SEXO, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_sexo, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_sexo} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_sexo} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

⚠️ Já existe no banco: M - Masculino
⚠️ Já existe no banco: 1 - Masculino
⚠️ Já existe no banco: F - Feminino
⚠️ Já existe no banco: 2 - Feminino
⚠️ Já existe no banco: I - Ignorado
⚠️ Já existe no banco: 0 - Ignorado
⚠️ Já existe no banco: 9 - Ignorado

In [68]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_SEXO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_SEXO CD_SEXO    DS_SEXO ST_SITUACAO             DT_CARGA
0        1       M  Masculino           A  2025-09-10 11:47:23
1        2       F   Feminino           A  2025-09-10 11:47:23
2        3       I   Ignorado           A  2025-09-10 11:47:23
3        4       1  Masculino           A  2025-09-10 11:49:32
4        5       2   Feminino           A  2025-09-10 11:49:32
5        6       0   Ignorado           A  2025-09-10 11:49:32
6        7       9   Ignorado           A  2025-09-10 11:49:32

# Tabela raca

In [72]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de raça/cor
racas = [
    (1, "Branca"),
    (2, "Preta"),
    (3, "Amarela"),
    (4, "Parda"),
    (5, "Indígena")
]

for cd_raca, descricao in racas:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_RACA_COR FROM DWCD_RACA_COR
        WHERE CD_RACA_COR = ?
    ''', (cd_raca,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_RACA_COR (CD_RACA_COR, DS_RACA_COR, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_raca, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_raca} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_raca} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

✅ Inserido: 1 - Branca
✅ Inserido: 2 - Preta
✅ Inserido: 3 - Amarela
✅ Inserido: 4 - Parda
✅ Inserido: 5 - Indígena

In [73]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_RACA_COR")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_RACA_COR  CD_RACA_COR DS_RACA_COR ST_SITUACAO             DT_CARGA
0            1            1      Branca           A  2025-09-10 11:54:14
1            2            2       Preta           A  2025-09-10 11:54:14
2            3            3     Amarela           A  2025-09-10 11:54:14
3            4            4       Parda           A  2025-09-10 11:54:14
4            5            5    Indígena           A  2025-09-10 11:54:14

# Tabela estado civil

In [75]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de estado civil
estados_civis = [
    (1, "Solteiro"),
    (2, "Casado"),
    (3, "Viúvo"),
    (4, "Separado judicialmente/Divorciado"),
    (5, "União estável"),
    (9, "Ignorado")
]

for cd_estciv, descricao in estados_civis:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_ESTADO_CIVIL FROM DWCD_ESTADO_CIVIL
        WHERE CD_ESTADO_CIVIL = ?
    ''', (cd_estciv,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_ESTADO_CIVIL (CD_ESTADO_CIVIL, DS_ESTADO_CIVIL, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_estciv, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_estciv} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_estciv} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

✅ Inserido: 1 - Solteiro
✅ Inserido: 2 - Casado
✅ Inserido: 3 - Viúvo
✅ Inserido: 4 - Separado judicialmente/Divorciado
✅ Inserido: 5 - União estável
✅ Inserido: 9 - Ignorado

In [76]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_ESTADO_CIVIL")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_ESTADO_CIVIL  CD_ESTADO_CIVIL                    DS_ESTADO_CIVIL  \
0                1                1                           Solteiro
1                2                2                             Casado
2                3                3                              Viúvo
3                4                4  Separado judicialmente/Divorciado
4                5                5                      União estável
5                6                9                           Ignorado

  ST_SITUACAO             DT_CARGA
0           A  2025-09-10 11:56:11
1           A  2025-09-10 11:56:11
2           A  2025-09-10 11:56:11
3           A  2025-09-10 11:56:11
4           A  2025-09-10 11:56:11
5           A  2025-09-10 11:56:11

# Tabela escolaridade

In [81]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de escolaridade
escolaridades = [
    (0, "Sem Escolaridade"),
    (1, "Fundamental I Incompleto"),
    (2, "Fundamental I Completo"),
    (3, "Fundamental II Incompleto"),
    (4, "Fundamental II Completo"),
    (5, "Ensino Médio Incompleto"),
    (6, "Ensino Médio Completo"),
    (7, "Superior Incompleto"),
    (8, "Superior Completo"),
    (9, "Ignorado"),
    (10, "Fundamental I Incompleto ou Inespecífico"),
    (11, "Fundamental II Incompleto ou Inespecífico"),
    (12, "Ensino Médio Incompleto ou Inespecífico")
]

for cd_esc, descricao in escolaridades:
    # Verifica se já existe no banco
    cursor.execute('''
        SELECT SK_ESCOLARIDADE FROM DWCD_ESCOLARIDADE
        WHERE CD_ESCOLARIDADE = ?
    ''', (cd_esc,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_ESCOLARIDADE (CD_ESCOLARIDADE, DS_ESCOLARIDADE, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_esc, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_esc} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_esc} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

✅ Inserido: 0 - Sem Escolaridade
✅ Inserido: 1 - Fundamental I Incompleto
✅ Inserido: 2 - Fundamental I Completo
✅ Inserido: 3 - Fundamental II Incompleto
✅ Inserido: 4 - Fundamental II Completo
✅ Inserido: 5 - Ensino Médio Incompleto
✅ Inserido: 6 - Ensino Médio Completo
✅ Inserido: 7 - Superior Incompleto
✅ Inserido: 8 - Superior Completo
✅ Inserido: 9 - Ignorado
✅ Inserido: 10 - Fundamental I Incompleto ou Inespecífico
✅ Inserido: 11 - Fundamental II Incompleto ou Inespecífico
✅ Inserido: 12 - Ensino Médio Incompleto ou Inespecífico

In [82]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_ESCOLARIDADE")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

    SK_ESCOLARIDADE  CD_ESCOLARIDADE  \
0                 1                0
1                 2                1
2                 3                2
3                 4                3
4                 5                4
5                 6                5
6                 7                6
7                 8                7
8                 9                8
9                10                9
10               11               10
11               12               11
12               13               12

                              DS_ESCOLARIDADE ST_SITUACAO             DT_CARGA
0                            Sem Escolaridade           A  2025-09-10 12:00:31
1                    Fundamental I Incompleto           A  2025-09-10 12:00:31
2                      Fundamental I Completo           A  2025-09-10 12:00:31
3                   Fundamental II Incompleto           A  2025-09-10 12:00:31
4                     Fundamental II Completo           A  2025-09-10 12:00:31
5                     Ensino Médio Incompleto           A  2025-09-10 12:00:31
6                       Ensino Médio Completo           A  2025-09-10 12:00:31
7                         Superior Incompleto           A  2025-09-10 12:00:31
8                           Superior Completo           A  2025-09-10 12:00:31
9                                    Ignorado           A  2025-09-10 12:00:31
10   Fundamental I Incompleto ou Inespecífico           A  2025-09-10 12:00:31
11  Fundamental II Incompleto ou Inespecífico           A  2025-09-10 12:00:31
12    Ensino Médio Incompleto ou Inespecífico           A  2025-09-10 12:00:31

# Tabela idade

In [95]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de estado civil
idade = [
    (0, "Minutos"),
    (1, "Horas"),
    (2, "Dias"),
    (3, "Mes"),
    (4, "Anos"),
    (5, "Idade maior que 100 anos")
]

for cd_idade, descricao in idade:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_TIPO_IDADE FROM DWCD_TIPO_IDADE
        WHERE CD_TIPO_IDADE = ?
    ''', (cd_idade,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_TIPO_IDADE (CD_TIPO_IDADE, DS_TIPO_IDADE, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_idade, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_idade} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_idade} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

✅ Inserido: 0 - Minutos
✅ Inserido: 1 - Horas
✅ Inserido: 2 - Dias
✅ Inserido: 3 - Mes
✅ Inserido: 4 - Anos
✅ Inserido: 5 - Idade maior que 100 anos

In [96]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_TIPO_IDADE")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_TIPO_IDADE  CD_TIPO_IDADE             DS_TIPO_IDADE ST_SITUACAO  \
0              1              0                   Minutos           A
1              2              1                     Horas           A
2              3              2                      Dias           A
3              4              3                       Mes           A
4              5              4                      Anos           A
5              6              5  Idade maior que 100 anos           A

              DT_CARGA
0  2025-09-10 12:46:30
1  2025-09-10 12:46:30
2  2025-09-10 12:46:30
3  2025-09-10 12:46:30
4  2025-09-10 12:46:30
5  2025-09-10 12:46:30

# Tabela local obito

In [100]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Lista oficial de estado civil
local_obito = [
    (1, "Hospital"),
    (2, "outros estabelecimentos de saúde"),
    (3, "Domicílio"),
    (4, "Via pública"),
    (5, "Outros"),
    (6, "Aldeia indígena"),
    (9, "Ignorado")
]

for cd_local_obito, descricao in local_obito:
    # Verifica se já existe no banco pelo código
    cursor.execute('''
        SELECT SK_LOCAL_OBITO FROM DWCD_LOCAL_OBITO
        WHERE CD_LOCAL_OBITO = ?
    ''', (cd_local_obito,))
    existing = cursor.fetchone()

    if not existing:  # Só insere se não existir
        cursor.execute('''
            INSERT INTO DWCD_LOCAL_OBITO (CD_LOCAL_OBITO, DS_LOCAL_OBITO, ST_SITUACAO, DT_CARGA)
            VALUES (?, ?, ?, ?)
        ''', (cd_local_obito, descricao, 'A', datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
        print(f"✅ Inserido: {cd_local_obito} - {descricao}")
    else:
        print(f"⚠️ Já existe no banco: {cd_local_obito} - {descricao}")

# Commit e fechar
conn.commit()
conn.close()

✅ Inserido: 1 - Hospital
✅ Inserido: 2 - outros estabelecimentos de saúde
✅ Inserido: 3 - Domicílio
✅ Inserido: 4 - Via pública
✅ Inserido: 5 - Outros
✅ Inserido: 6 - Aldeia indígena
✅ Inserido: 9 - Ignorado

In [101]:
# Conexão
conn = sqlite3.connect("Banco")
cursor = conn.cursor()

# Select para ver todos os registros
cursor.execute("SELECT * FROM DWCD_LOCAL_OBITO")
rows = cursor.fetchall()

# Nomes das colunas
colunas = [desc[0] for desc in cursor.description]

# Mostrar em formato de tabela (pandas)
df = pd.DataFrame(rows, columns=colunas)
print(df)

conn.close()

   SK_LOCAL_OBITO  CD_LOCAL_OBITO                    DS_LOCAL_OBITO  \
0               1               1                          Hospital
1               2               2  outros estabelecimentos de saúde
2               3               3                         Domicílio
3               4               4                       Via pública
4               5               5                            Outros
5               6               6                   Aldeia indígena
6               7               9                          Ignorado

  ST_SITUACAO             DT_CARGA
0           A  2025-09-10 12:54:58
1           A  2025-09-10 12:54:58
2           A  2025-09-10 12:54:58
3           A  2025-09-10 12:54:58
4           A  2025-09-10 12:54:58
5           A  2025-09-10 12:54:58
6           A  2025-09-10 12:54:58