In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Mortalidade_Geral_2021.csv', sep=';')

/tmp/ipython-input-874678499.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Mortalidade_Geral_2021.csv', sep=';')

# Tratando datas

In [5]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2021-03-23
1 2021-03-23
2 2021-03-23
3 2021-04-17
4 2021-01-06
datetime64[ns]

In [6]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2021-05-20
1 2021-05-20
2 2021-05-20
3 2021-05-19
4 2021-01-14
datetime64[ns]

In [7]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1962-06-18
1 1971-02-19
2 1956-10-01
3 1999-01-06
4 2020-08-20
datetime64[ns]

In [8]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2021-03-29
1 2021-03-23
2 2021-03-23
3 2021-04-17
4 2021-01-06
datetime64[ns]

In [9]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2021-06-29
datetime64[ns]

In [10]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2021-05-19
1 2021-05-19
2 2021-05-19
3 2021-05-18
4 2021-01-14
datetime64[ns]

In [11]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2021-05-20
1 2022-02-02
2 2021-05-20
3 2021-05-19
4 2021-06-30
datetime64[ns]

In [12]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [13]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [14]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2021-06-07
datetime64[ns]

In [15]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2021-06-07
datetime64[ns]

In [16]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

# Ajustes de Idade e Ocupação

In [18]:
df['TIPOIDADE'] = np.where(df['IDADE'] < 100, 0, df['IDADE'].astype(str).str[0].astype(int))

In [19]:
df['NR_IDADE'] = np.where(df['IDADE'] < 100, df['IDADE'],
                                 df['IDADE'].astype(str).str[1:].apply(lambda x: int(x) if x else 0))

In [20]:
df['OCUP'] = np.where(df['OCUP'] > 999990, 999999, df['OCUP'])

# Criando Coluna Chave primária

In [21]:
# Garantir que DTOBITO está no formato datetime
df["DTOBITO"] = pd.to_datetime(df["DTOBITO"], errors="coerce")

# Pega o ano e concatena com o CONTADOR
df["CD_OBITO"] = (df["CONTADOR"].astype(str) + df["DTOBITO"].dt.year.astype(str)).astype(int)

# Conferir
print(df[["CONTADOR", "DTOBITO", "CD_OBITO"]].head())

   CONTADOR    DTOBITO  CD_OBITO
0      1313 2021-03-23  13132021
1      1314 2021-03-23  13142021
2      1315 2021-03-23  13152021
3      1505 2021-04-17  15052021
4      2215 2021-01-06  22152021

# Tratando CID

In [24]:
# 🔹 Função auxiliar: normalizar string de CID
def normalize_series(series):
    return (
        series.fillna("-1")
        .astype(str)
        .str.upper()
        .str.replace("*", "", regex=False)
        .replace({"": "-1"})
    )

# === TERMINAL (LINHAA) ===
terminal = (
    df["LINHAA"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["TERMINAL_1"] = terminal.str[0].fillna("-1")
df["TERMINAL_2"] = terminal.str[1].fillna("-1")

# === ANTECEDENTES (LINHAB e LINHAC) ===
ante_b = (
    df["LINHAB"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["ANTECEDENTE_1"] = ante_b.str[0].fillna("-1")
df["ANTECEDENTE_2"] = ante_b.str[1].fillna("-1")

ante_c = (
    df["LINHAC"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["ANTECEDENTE_3"] = ante_c.str[0].fillna("-1")
df["ANTECEDENTE_4"] = ante_c.str[1].fillna("-1")

# === CAUSAS BÁSICAS ===
df["BASICA_1"] = normalize_series(df["CAUSABAS"])
df["BASICA_2"] = normalize_series(df["CAUSABAS_O"])

In [25]:
colunas_excluir = [
    "CB_PRE", "CAUSAMAT", "EXAME", "CIRURGIA", "SERIESCFAL", "SERIESCMAE",
    "ESCMAEAGR1", "TPRESGINFO", "TP_ALTERA", "CB_ALT", "MORTEPARTO",
    "ALTCAUSA", "FONTES", "DTCADINF", "DTCONCASO", "VERSAOSIST", "VERSAOSCB",
    "OPOR_DO", "STCODIFICA", "CODIFICADO", "TPMORTEOCO", "COMUNSVOIM", "OBITOGRAV",
    "OBITOPUERP", "FONTEINV", "DTINVESTIG", "NUDIASOBCO", "DTCADINV", "TPNIVELINV",
    "IDADEMAE", "ESCMAE", "ESCMAE2010", "SERIESCMAE", "OCUPMAE",
    "QTDFILVIVO", "QTDFILMORT", "GRAVIDEZ", "SEMAGESTAC", "GESTACAO",
    "PARTO", "OBITOPARTO", "PESO", "CB_PRE", "CAUSAMAT", "ESCMAEAGR1",
    "MORTEPARTO", "contador", "ORIGEM", "ESC", "FONTES", "NECROPSIA", "ACIDTRAB",
    "FONTE", "NUMEROLOTE", "DTCADASTRO", "ATESTANTE", "DTRECEBIM", "DTRECORIGA",
    "STDONOVA", "DIFDATA","TPOBITOCOR", "DTCONINV", "ESC2010", "TIPOBITO",
    "ESTABDESCR", "NUDIASOBIN","NUDIASINF", "FONTESINF", "CODMUNNATU",
    "ATESTADO", "NATURAL", "DTATESTADO", "CONTADOR", "LINHAA", "LINHAB",
    "LINHAC", "LINHAD", "LINHAII", "CAUSABAS", "CAUSABAS_O"


]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [28]:
df.to_csv('DO_21.csv', index=False)