In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('DO23OPEN.csv', sep=';')

/tmp/ipython-input-3871937495.py:1: DtypeWarning: Columns (65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DO23OPEN.csv', sep=';')

In [ ]:
df = df[df['TIPOBITO'] != 1]
print(df['TIPOBITO'].value_counts())

TIPOBITO
2    1465610
Name: count, dtype: int64

In [ ]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
contador,1,2,3,4,5,6,7,8,9,10
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,14022023,14022023,14022023,14022023,14022023,14022023,14022023,14022023,14022023,14022023
HORAOBITO,930.0,1730.0,500.0,2235.0,940.0,906.0,122.0,242.0,2041.0,2024.0
...,...,...,...,...,...,...,...,...,...,...
ALTCAUSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAUSABAS_O,I10,I678,K750,I64,C189,W188,E86,C539,C729,X700
TPPOS,NaN,NaN,NaN,S,S,S,S,NaN,NaN,S
TP_ALTERA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CB_ALT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465610 entries, 0 to 1465609
Data columns (total 86 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   contador    1465610 non-null  int64
 1   ORIGEM      1465610 non-null  int64
 2   TIPOBITO    1465610 non-null  int64
 3   DTOBITO     1465610 non-null  int64
 4   HORAOBITO   1416392 non-null  float64
 5   NATURAL     1399908 non-null  float64
 6   CODMUNNATU  1381624 non-null  float64
 7   DTNASC      1462816 non-null  float64
 8   IDADE       1465610 non-null  int64
 9   SEXO        1465610 non-null  int64
 10  RACACOR     1442526 non-null  float64
 11  ESTCIV      1399251 non-null  float64
 12  ESC         1375905 non-null  float64
 13  ESC2010     1367238 non-null  float64
 14  SERIESCFAL  404622 non-null   float64
 15  OCUP        1263542 non-null  float64
 16  CODMUNRES   1465610 non-null  int64
 17  LOCOCOR     1465610 non-null  int64
 18  CODESTAB    1064156 non-null  float64
 19  CODMUNOCOR  1465610 non-null  int64
 20  IDADEMAE    29183 non-null    float64
 21  ESCMAE      28950 non-null    float64
 22  ESCMAE2010  28820 non-null    float64
 23  SERIESCMAE  12375 non-null    float64
 24  OCUPMAE     25908 non-null    float64
 25  QTDFILVIVO  29164 non-null    float64
 26  QTDFILMORT  28333 non-null    float64
 27  GRAVIDEZ    29909 non-null    float64
 28  SEMAGESTAC  28698 non-null    float64
 29  GESTACAO    28698 non-null    float64
 30  PARTO       29785 non-null    float64
 31  OBITOPARTO  29545 non-null    float64
 32  PESO        28705 non-null    float64
 33  TPMORTEOCO  87151 non-null    float64
 34  OBITOGRAV   87679 non-null    float64
 35  OBITOPUERP  87662 non-null    float64
 36  ASSISTMED   1020765 non-null  float64
 37  EXAME       4106 non-null     float64
 38  CIRURGIA    3949 non-null     float64
 39  NECROPSIA   1047269 non-null  float64
 40  LINHAA      1421060 non-null  object
 41  LINHAB      1118038 non-null  object
 42  LINHAC      688554 non-null   object
 43  LINHAD      291456 non-null   object
 44  LINHAII     630076 non-null   object
 45  CAUSABAS    1465610 non-null  object
 46  CB_PRE      0 non-null        float64
 47  COMUNSVOIM  257792 non-null   float64
 48  DTATESTADO  1459985 non-null  float64
 49  CIRCOBITO   153897 non-null   float64
 50  ACIDTRAB    51838 non-null    float64
 51  FONTE       126366 non-null   float64
 52  NUMEROLOTE  1465486 non-null  float64
 53  DTINVESTIG  242831 non-null   float64
 54  DTCADASTRO  1465071 non-null  float64
 55  ATESTANTE   1362572 non-null  float64
 56  STCODIFICA  1465270 non-null  object
 57  CODIFICADO  1465608 non-null  object
 58  VERSAOSIST  1465608 non-null  object
 59  VERSAOSCB   1412959 non-null  float64
 60  FONTEINV    245325 non-null   float64
 61  DTRECEBIM   1463134 non-null  float64
 62  ATESTADO    1465610 non-null  object
 63  DTRECORIGA  1465610 non-null  int64
 64  OPOR_DO     1465610 non-null  int64
 65  CAUSAMAT    25 non-null       object
 66  ESCMAEAGR1  28820 non-null    float64
 67  ESCFALAGR1  1367238 non-null  float64
 68  STDOEPIDEM  1465608 non-null  float64
 69  STDONOVA    1465610 non-null  int64
 70  DIFDATA     1465610 non-null  int64
 71  NUDIASOBCO  60100 non-null    float64
 72  DTCADINV    60520 non-null    float64
 73  TPOBITOCOR  60520 non-null    float64
 74  DTCONINV    60032 non-null    float64
 75  FONTES      29861 non-null    object
 76  TPRESGINFO  2629 non-null     float64
 77  TPNIVELINV  60588 non-null    object
 78  DTCADINF    29861 non-null    float64
 79  MORTEPARTO  29861 non-null    float64
 80  DTCONCASO   27375 non-null    float64
 81  ALTCAUSA    28851 non-null    float64
 82  CAUSABAS_O  1464573 non-null  object
 83  TPPOS       947635 non-null   object
 84  TP_ALTERA   5161 non-null     float64
 85  CB_ALT      4741 non-null     object
dtypes: float64(57), int64(13), object(16)
memory usage: 961.6+ MB

In [ ]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2023-02-14
1 2023-02-14
2 2023-02-14
3 2023-02-14
4 2023-02-14
datetime64[ns]

In [ ]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2023-02-27
1 2023-02-17
2 2023-02-17
3 2023-03-02
4 2023-02-16
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1954-07-10
1 1956-09-12
2 1953-01-10
3 1943-12-15
4 1973-04-09
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2023-02-14
1 2023-02-14
2 2023-02-14
3 2023-02-15
4 2023-02-14
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2023-02-23
4 2023-02-14
datetime64[ns]

In [ ]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2023-02-23
1 2023-02-17
2 2023-02-17
3 2023-02-15
4 2023-02-14
datetime64[ns]

In [ ]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2023-02-27
1 2023-02-17
2 2023-02-17
3 2023-03-09
4 2024-10-30
datetime64[ns]

In [ ]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2023-02-17
datetime64[ns]

In [ ]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2023-02-17
datetime64[ns]

In [ ]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

In [ ]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465610 entries, 0 to 1465609
Data columns (total 86 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   contador    1465610 non-null  int64
 1   ORIGEM      1465610 non-null  int64
 2   TIPOBITO    1465610 non-null  int64
 3   DTOBITO     1465610 non-null  datetime64[ns]
 4   HORAOBITO   1465610 non-null  float64
 5   NATURAL     1465610 non-null  float64
 6   CODMUNNATU  1465610 non-null  float64
 7   DTNASC      1465610 non-null  datetime64[ns]
 8   IDADE       1465610 non-null  int64
 9   SEXO        1465610 non-null  int64
 10  RACACOR     1465610 non-null  float64
 11  ESTCIV      1465610 non-null  float64
 12  ESC         1465610 non-null  float64
 13  ESC2010     1465610 non-null  float64
 14  SERIESCFAL  1465610 non-null  float64
 15  OCUP        1465610 non-null  float64
 16  CODMUNRES   1465610 non-null  int64
 17  LOCOCOR     1465610 non-null  int64
 18  CODESTAB    1465610 non-null  float64
 19  CODMUNOCOR  1465610 non-null  int64
 20  IDADEMAE    1465610 non-null  float64
 21  ESCMAE      1465610 non-null  float64
 22  ESCMAE2010  1465610 non-null  float64
 23  SERIESCMAE  1465610 non-null  float64
 24  OCUPMAE     1465610 non-null  float64
 25  QTDFILVIVO  1465610 non-null  float64
 26  QTDFILMORT  1465610 non-null  float64
 27  GRAVIDEZ    1465610 non-null  float64
 28  SEMAGESTAC  1465610 non-null  float64
 29  GESTACAO    1465610 non-null  float64
 30  PARTO       1465610 non-null  float64
 31  OBITOPARTO  1465610 non-null  float64
 32  PESO        1465610 non-null  float64
 33  TPMORTEOCO  1465610 non-null  float64
 34  OBITOGRAV   1465610 non-null  float64
 35  OBITOPUERP  1465610 non-null  float64
 36  ASSISTMED   1465610 non-null  float64
 37  EXAME       1465610 non-null  float64
 38  CIRURGIA    1465610 non-null  float64
 39  NECROPSIA   1465610 non-null  float64
 40  LINHAA      1465610 non-null  object
 41  LINHAB      1465610 non-null  object
 42  LINHAC      1465610 non-null  object
 43  LINHAD      1465610 non-null  object
 44  LINHAII     1465610 non-null  object
 45  CAUSABAS    1465610 non-null  object
 46  CB_PRE      1465610 non-null  float64
 47  COMUNSVOIM  1465610 non-null  float64
 48  DTATESTADO  1465610 non-null  datetime64[ns]
 49  CIRCOBITO   1465610 non-null  float64
 50  ACIDTRAB    1465610 non-null  float64
 51  FONTE       1465610 non-null  float64
 52  NUMEROLOTE  1465610 non-null  float64
 53  DTINVESTIG  1465610 non-null  object
 54  DTCADASTRO  1465610 non-null  datetime64[ns]
 55  ATESTANTE   1465610 non-null  float64
 56  STCODIFICA  1465610 non-null  object
 57  CODIFICADO  1465610 non-null  object
 58  VERSAOSIST  1465610 non-null  object
 59  VERSAOSCB   1465610 non-null  float64
 60  FONTEINV    1465610 non-null  float64
 61  DTRECEBIM   1465610 non-null  datetime64[ns]
 62  ATESTADO    1465610 non-null  object
 63  DTRECORIGA  1465610 non-null  datetime64[ns]
 64  OPOR_DO     1465610 non-null  int64
 65  CAUSAMAT    1465610 non-null  object
 66  ESCMAEAGR1  1465610 non-null  float64
 67  ESCFALAGR1  1465610 non-null  float64
 68  STDOEPIDEM  1465610 non-null  float64
 69  STDONOVA    1465610 non-null  int64
 70  DIFDATA     1465610 non-null  int64
 71  NUDIASOBCO  1465610 non-null  float64
 72  DTCADINV    1465610 non-null  datetime64[ns]
 73  TPOBITOCOR  1465610 non-null  float64
 74  DTCONINV    1465610 non-null  datetime64[ns]
 75  FONTES      1465610 non-null  object
 76  TPRESGINFO  1465610 non-null  float64
 77  TPNIVELINV  1465610 non-null  object
 78  DTCADINF    1465610 non-null  datetime64[ns]
 79  MORTEPARTO  1465610 non-null  float64
 80  DTCONCASO   1465610 non-null  datetime64[ns]
 81  ALTCAUSA    1465610 non-null  float64
 82  CAUSABAS_O  1465610 non-null  object
 83  TPPOS       1465610 non-null  object
 84  TP_ALTERA   1465610 non-null  float64
 85  CB_ALT      1465610 non-null  object
dtypes: datetime64[ns](10), float64(48), int64(11), object(17)
memory usage: 961.6+ MB

In [ ]:
colunas_excluir = [
    "CB_PRE", "CAUSAMAT", "EXAME", "CIRURGIA", "SERIESCFAL", "SERIESCMAE",
    "ESCMAEAGR1", "TPRESGINFO", "TP_ALTERA", "CB_ALT", "MORTEPARTO",
    "ALTCAUSA", "FONTES", "DTCADINF", "DTCONCASO", "VERSAOSIST", "VERSAOSCB",
    "OPOR_DO", "STCODIFICA", "CODIFICADO", "TPMORTEOCO", "COMUNSVOIM", "OBITOGRAV",
    "OBITOPUERP", "FONTEINV", "DTINVESTIG", "NUDIASOBCO", "DTCADINV", "TPNIVELINV",
    "IDADEMAE", "ESCMAE", "ESCMAE2010", "SERIESCMAE", "OCUPMAE",
    "QTDFILVIVO", "QTDFILMORT", "GRAVIDEZ", "SEMAGESTAC", "GESTACAO",
    "PARTO", "OBITOPARTO", "PESO", "CB_PRE", "CAUSAMAT", "ESCMAEAGR1",
    "MORTEPARTO", "contador", "ORIGEM", "ESC", "FONTES", "NECROPSIA", "ACIDTRAB",
    "FONTE", "NUMEROLOTE", "DTCADASTRO", "ATESTANTE", "DTRECEBIM", "DTRECORIGA",
    "STDONOVA", "DIFDATA","TPOBITOCOR", "DTCONINV", "ESC2010", "TIPOBITO"

]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465610 entries, 0 to 1465609
Data columns (total 28 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   DTOBITO     1465610 non-null  datetime64[ns]
 1   HORAOBITO   1465610 non-null  float64
 2   NATURAL     1465610 non-null  float64
 3   CODMUNNATU  1465610 non-null  float64
 4   DTNASC      1465610 non-null  datetime64[ns]
 5   IDADE       1465610 non-null  int64
 6   SEXO        1465610 non-null  int64
 7   RACACOR     1465610 non-null  float64
 8   ESTCIV      1465610 non-null  float64
 9   OCUP        1465610 non-null  float64
 10  CODMUNRES   1465610 non-null  int64
 11  LOCOCOR     1465610 non-null  int64
 12  CODESTAB    1465610 non-null  float64
 13  CODMUNOCOR  1465610 non-null  int64
 14  ASSISTMED   1465610 non-null  float64
 15  LINHAA      1465610 non-null  object
 16  LINHAB      1465610 non-null  object
 17  LINHAC      1465610 non-null  object
 18  LINHAD      1465610 non-null  object
 19  LINHAII     1465610 non-null  object
 20  CAUSABAS    1465610 non-null  object
 21  DTATESTADO  1465610 non-null  datetime64[ns]
 22  CIRCOBITO   1465610 non-null  float64
 23  ATESTADO    1465610 non-null  object
 24  ESCFALAGR1  1465610 non-null  float64
 25  STDOEPIDEM  1465610 non-null  float64
 26  CAUSABAS_O  1465610 non-null  object
 27  TPPOS       1465610 non-null  object
dtypes: datetime64[ns](3), float64(11), int64(5), object(9)
memory usage: 313.1+ MB

In [ ]:
df.to_csv('DO_23.csv', index=False)

# Ajustes de Idade e Ocupação

In [ ]:
import numpy as np

In [ ]:
df_2023 = pd.read_csv('DO_23.csv')
df_2023['TIPOIDADE'] = np.where(df_2023['IDADE'] < 100, 0, df_2023['IDADE'].astype(str).str[0].astype(int))
df_2023['NR_IDADE'] = np.where(df_2023['IDADE'] < 100, df_2023['IDADE'],
                                 df_2023['IDADE'].astype(str).str[1:].apply(lambda x: int(x) if x else 0))
df_2023['OCUP'] = np.where(df_2023['OCUP'] > 999990, 999999, df_2023['OCUP'])

In [ ]:
df_2023.to_csv('DO_23.csv', index=False)