In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Mortalidade_Geral_2020.csv', sep=';')

/tmp/ipython-input-3694082878.py:1: DtypeWarning: Columns (66,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Mortalidade_Geral_2020.csv', sep=';')

In [ ]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,18052020,20052020,21052020,21052020,22052020,22052020,25052020,25052020,27052020,27052020
HORAOBITO,1452.0,2115.0,1200.0,1233.0,730.0,1250.0,136.0,240.0,200.0,311.0
NATURAL,812.0,812.0,812.0,812.0,812.0,812.0,812.0,812.0,812.0,812.0
...,...,...,...,...,...,...,...,...,...,...
MORTEPARTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DTCONCASO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FONTESINF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALTCAUSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTADOR,603,604,605,606,607,608,609,610,611,612

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556824 entries, 0 to 1556823
Data columns (total 87 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ORIGEM      1556824 non-null  int64
 1   TIPOBITO    1556824 non-null  int64
 2   DTOBITO     1556824 non-null  int64
 3   HORAOBITO   1497806 non-null  float64
 4   NATURAL     1469096 non-null  float64
 5   CODMUNNATU  1446983 non-null  float64
 6   DTNASC      1553080 non-null  float64
 7   IDADE       1556824 non-null  int64
 8   SEXO        1556824 non-null  int64
 9   RACACOR     1516188 non-null  float64
 10  ESTCIV      1475822 non-null  float64
 11  ESC         1442466 non-null  float64
 12  ESC2010     1437863 non-null  float64
 13  SERIESCFAL  361095 non-null   float64
 14  OCUP        1306818 non-null  float64
 15  CODMUNRES   1556824 non-null  int64
 16  LOCOCOR     1556824 non-null  int64
 17  CODESTAB    1131930 non-null  float64
 18  ESTABDESCR  0 non-null        float64
 19  CODMUNOCOR  1556824 non-null  int64
 20  IDADEMAE    28468 non-null    float64
 21  ESCMAE      28068 non-null    float64
 22  ESCMAE2010  27984 non-null    float64
 23  SERIESCMAE  11215 non-null    float64
 24  OCUPMAE     25079 non-null    float64
 25  QTDFILVIVO  28199 non-null    float64
 26  QTDFILMORT  27228 non-null    float64
 27  GRAVIDEZ    29269 non-null    float64
 28  SEMAGESTAC  27697 non-null    float64
 29  GESTACAO    27742 non-null    float64
 30  PARTO       29135 non-null    float64
 31  OBITOPARTO  28885 non-null    float64
 32  PESO        28245 non-null    float64
 33  TPMORTEOCO  94512 non-null    float64
 34  OBITOGRAV   94725 non-null    float64
 35  OBITOPUERP  94715 non-null    float64
 36  ASSISTMED   1069542 non-null  float64
 37  EXAME       2126 non-null     float64
 38  CIRURGIA    2079 non-null     float64
 39  NECROPSIA   1085068 non-null  float64
 40  LINHAA      1493586 non-null  object
 41  LINHAB      1152797 non-null  object
 42  LINHAC      695526 non-null   object
 43  LINHAD      290291 non-null   object
 44  LINHAII     654232 non-null   object
 45  CAUSABAS    1556824 non-null  object
 46  CB_PRE      0 non-null        float64
 47  COMUNSVOIM  221808 non-null   float64
 48  DTATESTADO  1546827 non-null  float64
 49  CIRCOBITO   145681 non-null   float64
 50  ACIDTRAB    45067 non-null    float64
 51  FONTE       116989 non-null   float64
 52  NUMEROLOTE  1556674 non-null  float64
 53  TPPOS       1020367 non-null  object
 54  DTINVESTIG  308310 non-null   float64
 55  CAUSABAS_O  1554322 non-null  object
 56  DTCADASTRO  1554374 non-null  float64
 57  ATESTANTE   1417055 non-null  float64
 58  STCODIFICA  1556488 non-null  object
 59  CODIFICADO  1556822 non-null  object
 60  VERSAOSIST  1556822 non-null  object
 61  VERSAOSCB   1491964 non-null  float64
 62  FONTEINV    313704 non-null   float64
 63  DTRECEBIM   1450364 non-null  float64
 64  ATESTADO    1556824 non-null  object
 65  DTRECORIGA  1556824 non-null  int64
 66  CAUSAMAT    44 non-null       object
 67  ESCMAEAGR1  27984 non-null    float64
 68  ESCFALAGR1  1437863 non-null  float64
 69  STDOEPIDEM  1556822 non-null  float64
 70  STDONOVA    1556824 non-null  int64
 71  DIFDATA     1556824 non-null  int64
 72  NUDIASOBCO  61865 non-null    float64
 73  NUDIASOBIN  0 non-null        float64
 74  DTCADINV    62271 non-null    float64
 75  TPOBITOCOR  62271 non-null    float64
 76  DTCONINV    61804 non-null    float64
 77  FONTES      26423 non-null    object
 78  TPRESGINFO  3753 non-null     float64
 79  TPNIVELINV  62332 non-null    object
 80  NUDIASINF   0 non-null        float64
 81  DTCADINF    26423 non-null    float64
 82  MORTEPARTO  26423 non-null    float64
 83  DTCONCASO   24269 non-null    float64
 84  FONTESINF   0 non-null        float64
 85  ALTCAUSA    25449 non-null    float64
 86  CONTADOR    1556824 non-null  int64
dtypes: float64(60), int64(12), object(15)
memory usage: 1.0+ GB

In [ ]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2020-05-18
1 2020-05-20
2 2020-05-21
3 2020-05-21
4 2020-05-22
datetime64[ns]

In [ ]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2020-05-29
1 2020-05-29
2 2020-05-29
3 2020-05-29
4 2020-05-29
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1932-06-07
1 1952-03-16
2 1961-02-17
3 1942-08-10
4 1936-04-13
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2020-05-18
1 2020-05-20
2 2020-05-21
3 2020-05-21
4 2020-05-22
datetime64[ns]

In [ ]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2020-06-04
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2020-05-22
1 2020-05-28
2 2020-05-28
3 2020-05-29
4 2020-05-29
datetime64[ns]

In [ ]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2020-05-29
1 2020-06-18
2 2020-05-29
3 2020-05-29
4 2020-05-29
datetime64[ns]

In [ ]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [ ]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

In [ ]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556824 entries, 0 to 1556823
Data columns (total 87 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ORIGEM      1556824 non-null  int64
 1   TIPOBITO    1556824 non-null  int64
 2   DTOBITO     1556824 non-null  datetime64[ns]
 3   HORAOBITO   1556824 non-null  float64
 4   NATURAL     1556824 non-null  float64
 5   CODMUNNATU  1556824 non-null  float64
 6   DTNASC      1556824 non-null  object
 7   IDADE       1556824 non-null  int64
 8   SEXO        1556824 non-null  int64
 9   RACACOR     1556824 non-null  float64
 10  ESTCIV      1556824 non-null  float64
 11  ESC         1556824 non-null  float64
 12  ESC2010     1556824 non-null  float64
 13  SERIESCFAL  1556824 non-null  float64
 14  OCUP        1556824 non-null  float64
 15  CODMUNRES   1556824 non-null  int64
 16  LOCOCOR     1556824 non-null  int64
 17  CODESTAB    1556824 non-null  float64
 18  ESTABDESCR  1556824 non-null  float64
 19  CODMUNOCOR  1556824 non-null  int64
 20  IDADEMAE    1556824 non-null  float64
 21  ESCMAE      1556824 non-null  float64
 22  ESCMAE2010  1556824 non-null  float64
 23  SERIESCMAE  1556824 non-null  float64
 24  OCUPMAE     1556824 non-null  float64
 25  QTDFILVIVO  1556824 non-null  float64
 26  QTDFILMORT  1556824 non-null  float64
 27  GRAVIDEZ    1556824 non-null  float64
 28  SEMAGESTAC  1556824 non-null  float64
 29  GESTACAO    1556824 non-null  float64
 30  PARTO       1556824 non-null  float64
 31  OBITOPARTO  1556824 non-null  float64
 32  PESO        1556824 non-null  float64
 33  TPMORTEOCO  1556824 non-null  float64
 34  OBITOGRAV   1556824 non-null  float64
 35  OBITOPUERP  1556824 non-null  float64
 36  ASSISTMED   1556824 non-null  float64
 37  EXAME       1556824 non-null  float64
 38  CIRURGIA    1556824 non-null  float64
 39  NECROPSIA   1556824 non-null  float64
 40  LINHAA      1556824 non-null  object
 41  LINHAB      1556824 non-null  object
 42  LINHAC      1556824 non-null  object
 43  LINHAD      1556824 non-null  object
 44  LINHAII     1556824 non-null  object
 45  CAUSABAS    1556824 non-null  object
 46  CB_PRE      1556824 non-null  float64
 47  COMUNSVOIM  1556824 non-null  float64
 48  DTATESTADO  1556824 non-null  object
 49  CIRCOBITO   1556824 non-null  float64
 50  ACIDTRAB    1556824 non-null  float64
 51  FONTE       1556824 non-null  float64
 52  NUMEROLOTE  1556824 non-null  float64
 53  TPPOS       1556824 non-null  object
 54  DTINVESTIG  1556824 non-null  datetime64[ns]
 55  CAUSABAS_O  1556824 non-null  object
 56  DTCADASTRO  1556824 non-null  datetime64[ns]
 57  ATESTANTE   1556824 non-null  float64
 58  STCODIFICA  1556824 non-null  object
 59  CODIFICADO  1556824 non-null  object
 60  VERSAOSIST  1556824 non-null  object
 61  VERSAOSCB   1556824 non-null  float64
 62  FONTEINV    1556824 non-null  float64
 63  DTRECEBIM   1556824 non-null  datetime64[ns]
 64  ATESTADO    1556824 non-null  object
 65  DTRECORIGA  1556824 non-null  datetime64[ns]
 66  CAUSAMAT    1556824 non-null  object
 67  ESCMAEAGR1  1556824 non-null  float64
 68  ESCFALAGR1  1556824 non-null  float64
 69  STDOEPIDEM  1556824 non-null  float64
 70  STDONOVA    1556824 non-null  int64
 71  DIFDATA     1556824 non-null  int64
 72  NUDIASOBCO  1556824 non-null  float64
 73  NUDIASOBIN  1556824 non-null  float64
 74  DTCADINV    1556824 non-null  datetime64[ns]
 75  TPOBITOCOR  1556824 non-null  float64
 76  DTCONINV    1556824 non-null  datetime64[ns]
 77  FONTES      1556824 non-null  object
 78  TPRESGINFO  1556824 non-null  float64
 79  TPNIVELINV  1556824 non-null  object
 80  NUDIASINF   1556824 non-null  float64
 81  DTCADINF    1556824 non-null  datetime64[ns]
 82  MORTEPARTO  1556824 non-null  float64
 83  DTCONCASO   1556824 non-null  datetime64[ns]
 84  FONTESINF   1556824 non-null  float64
 85  ALTCAUSA    1556824 non-null  float64
 86  CONTADOR    1556824 non-null  int64
dtypes: datetime64[ns](9), float64(51), int64(10), object(17)
memory usage: 1.0+ GB

In [ ]:
colunas_excluir = [
    "CB_PRE", "CAUSAMAT", "EXAME", "CIRURGIA", "SERIESCFAL", "SERIESCMAE",
    "ESCMAEAGR1", "TPRESGINFO", "TP_ALTERA", "CB_ALT", "MORTEPARTO",
    "ALTCAUSA", "FONTES", "DTCADINF", "DTCONCASO", "VERSAOSIST", "VERSAOSCB",
    "OPOR_DO", "STCODIFICA", "CODIFICADO", "TPMORTEOCO", "COMUNSVOIM", "OBITOGRAV",
    "OBITOPUERP", "FONTEINV", "DTINVESTIG", "NUDIASOBCO", "DTCADINV", "TPNIVELINV",
    "IDADEMAE", "ESCMAE", "ESCMAE2010", "SERIESCMAE", "OCUPMAE",
    "QTDFILVIVO", "QTDFILMORT", "GRAVIDEZ", "SEMAGESTAC", "GESTACAO",
    "PARTO", "OBITOPARTO", "PESO", "CB_PRE", "CAUSAMAT", "ESCMAEAGR1",
    "MORTEPARTO", "contador", "ORIGEM", "ESC", "FONTES", "NECROPSIA", "ACIDTRAB",
    "FONTE", "NUMEROLOTE", "DTCADASTRO", "ATESTANTE", "DTRECEBIM", "DTRECORIGA",
    "STDONOVA", "DIFDATA","TPOBITOCOR", "DTCONINV","CONTADOR", "ESTABDESCR",
    "NUDIASOBIN","NUDIASINF", "FONTESINF", "ESC2010", "TIPOBITO"

]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556824 entries, 0 to 1556823
Data columns (total 28 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   DTOBITO     1556824 non-null  datetime64[ns]
 1   HORAOBITO   1556824 non-null  float64
 2   NATURAL     1556824 non-null  float64
 3   CODMUNNATU  1556824 non-null  float64
 4   DTNASC      1556824 non-null  object
 5   IDADE       1556824 non-null  int64
 6   SEXO        1556824 non-null  int64
 7   RACACOR     1556824 non-null  float64
 8   ESTCIV      1556824 non-null  float64
 9   OCUP        1556824 non-null  float64
 10  CODMUNRES   1556824 non-null  int64
 11  LOCOCOR     1556824 non-null  int64
 12  CODESTAB    1556824 non-null  float64
 13  CODMUNOCOR  1556824 non-null  int64
 14  ASSISTMED   1556824 non-null  float64
 15  LINHAA      1556824 non-null  object
 16  LINHAB      1556824 non-null  object
 17  LINHAC      1556824 non-null  object
 18  LINHAD      1556824 non-null  object
 19  LINHAII     1556824 non-null  object
 20  CAUSABAS    1556824 non-null  object
 21  DTATESTADO  1556824 non-null  object
 22  CIRCOBITO   1556824 non-null  float64
 23  TPPOS       1556824 non-null  object
 24  CAUSABAS_O  1556824 non-null  object
 25  ATESTADO    1556824 non-null  object
 26  ESCFALAGR1  1556824 non-null  float64
 27  STDOEPIDEM  1556824 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(5), object(11)
memory usage: 332.6+ MB

In [ ]:
df.to_csv('DO_20.csv', index=False)

# Ajustes de Idade e Ocupação

In [3]:
df_2020 = pd.read_csv('DO_20.csv')

In [4]:
df_2020['TIPOIDADE'] = np.where(df_2020['IDADE'] < 100, 0, df_2020['IDADE'].astype(str).str[0].astype(int))

In [5]:
df_2020['NR_IDADE'] = np.where(df_2020['IDADE'] < 100, df_2020['IDADE'],
                                 df_2020['IDADE'].astype(str).str[1:].apply(lambda x: int(x) if x else 0))

In [6]:
df_2020['OCUP'] = np.where(df_2020['OCUP'] > 999990, 999999, df_2020['OCUP'])

In [8]:
df_2020.to_csv('DO_20.csv', index=False)