In [75]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv('Mortalidade_Geral_2020.csv', sep=';')

/tmp/ipython-input-3694082878.py:1: DtypeWarning: Columns (66,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Mortalidade_Geral_2020.csv', sep=';')

# Tratando Datas

In [77]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2020-05-18
1 2020-05-20
2 2020-05-21
3 2020-05-21
4 2020-05-22
datetime64[ns]

In [78]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2020-05-29
1 2020-05-29
2 2020-05-29
3 2020-05-29
4 2020-05-29
datetime64[ns]

In [79]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1932-06-07
1 1952-03-16
2 1961-02-17
3 1942-08-10
4 1936-04-13
datetime64[ns]

In [80]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2020-05-18
1 2020-05-20
2 2020-05-21
3 2020-05-21
4 2020-05-22
datetime64[ns]

In [81]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2020-06-04
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [82]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2020-05-22
1 2020-05-28
2 2020-05-28
3 2020-05-29
4 2020-05-29
datetime64[ns]

In [83]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2020-05-29
1 2020-06-18
2 2020-05-29
3 2020-05-29
4 2020-05-29
datetime64[ns]

In [84]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [85]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [86]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [87]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros √† esquerda at√© ter 8 d√≠gitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [88]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

# Ajustes de Idade e Ocupa√ß√£o

In [89]:
df['TIPOIDADE'] = np.where(df['IDADE'] < 100, 0, df['IDADE'].astype(str).str[0].astype(int))

In [90]:
df['NR_IDADE'] = np.where(df['IDADE'] < 100, df['IDADE'],
                                 df['IDADE'].astype(str).str[1:].apply(lambda x: int(x) if x else 0))

In [91]:
df['OCUP'] = np.where(df['OCUP'] > 999990, 999999, df['OCUP'])

# Criando Coluna Chave Prim√°ria

In [92]:
# Garantir que DTOBITO est√° no formato datetime
df["DTOBITO"] = pd.to_datetime(df["DTOBITO"], errors="coerce")

# Pega o ano e concatena com o CONTADOR
df["CD_OBITO"] = (df["CONTADOR"].astype(str) + df["DTOBITO"].dt.year.astype(str)).astype(int)

# Conferir
print(df[["CONTADOR", "DTOBITO", "CD_OBITO"]].head())

   CONTADOR    DTOBITO  CD_OBITO
0       603 2020-05-18   6032020
1       604 2020-05-20   6042020
2       605 2020-05-21   6052020
3       606 2020-05-21   6062020
4       607 2020-05-22   6072020

# Tratando CID

In [93]:
# üîπ Fun√ß√£o auxiliar: normalizar string de CID
def normalize_series(series):
    return (
        series.fillna("-1")
        .astype(str)
        .str.upper()
        .str.replace("*", "", regex=False)
        .replace({"": "-1"})
    )

# === TERMINAL (LINHAA) ===
terminal = (
    df["LINHAA"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["TERMINAL_1"] = terminal.str[0].fillna("-1")
df["TERMINAL_2"] = terminal.str[1].fillna("-1")

# === ANTECEDENTES (LINHAB e LINHAC) ===
ante_b = (
    df["LINHAB"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["ANTECEDENTE_1"] = ante_b.str[0].fillna("-1")
df["ANTECEDENTE_2"] = ante_b.str[1].fillna("-1")

ante_c = (
    df["LINHAC"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["ANTECEDENTE_3"] = ante_c.str[0].fillna("-1")
df["ANTECEDENTE_4"] = ante_c.str[1].fillna("-1")

# === CAUSAS B√ÅSICAS ===
df["BASICA_1"] = normalize_series(df["CAUSABAS"])
df["BASICA_2"] = normalize_series(df["CAUSABAS_O"])

In [94]:
colunas_excluir = [
    "CB_PRE", "CAUSAMAT", "EXAME", "CIRURGIA", "SERIESCFAL", "SERIESCMAE",
    "ESCMAEAGR1", "TPRESGINFO", "TP_ALTERA", "CB_ALT", "MORTEPARTO",
    "ALTCAUSA", "FONTES", "DTCADINF", "DTCONCASO", "VERSAOSIST", "VERSAOSCB",
    "OPOR_DO", "STCODIFICA", "CODIFICADO", "TPMORTEOCO", "COMUNSVOIM", "OBITOGRAV",
    "OBITOPUERP", "FONTEINV", "DTINVESTIG", "NUDIASOBCO", "DTCADINV", "TPNIVELINV",
    "IDADEMAE", "ESCMAE", "ESCMAE2010", "SERIESCMAE", "OCUPMAE",
    "QTDFILVIVO", "QTDFILMORT", "GRAVIDEZ", "SEMAGESTAC", "GESTACAO",
    "PARTO", "OBITOPARTO", "PESO", "CB_PRE", "CAUSAMAT", "ESCMAEAGR1",
    "MORTEPARTO", "contador", "ORIGEM", "ESC", "FONTES", "NECROPSIA", "ACIDTRAB",
    "FONTE", "NUMEROLOTE", "DTCADASTRO", "ATESTANTE", "DTRECEBIM", "DTRECORIGA",
    "STDONOVA", "DIFDATA","TPOBITOCOR", "DTCONINV", "ESC2010", "TIPOBITO",
    "ESTABDESCR", "NUDIASOBIN","NUDIASINF", "FONTESINF", "CODMUNNATU",
    "ATESTADO", "NATURAL", "DTATESTADO", "CONTADOR", "LINHAA", "LINHAB",
    "LINHAC", "LINHAD", "LINHAII", "CAUSABAS", "CAUSABAS_O"


]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [95]:
df.tail().T

,1556819,1556820,1556821,1556822,1556823
DTOBITO,2020-12-31 00:00:00,2020-12-31 00:00:00,2020-12-31 00:00:00,2020-12-31 00:00:00,2020-12-31 00:00:00
HORAOBITO,2020.0,1220.0,-1.0,2100.0,1632.0
DTNASC,1929-07-18 00:00:00,2020-12-07 00:00:00,1955-10-30 00:00:00,1982-12-16 00:00:00,1971-09-01 00:00:00
IDADE,491,224,465,438,449
SEXO,2,1,1,1,1
RACACOR,4.0,1.0,2.0,4.0,4.0
ESTCIV,4.0,-1.0,9.0,5.0,1.0
OCUP,999999.0,-1.0,621005.0,-1.0,513405.0
CODMUNRES,172100,171650,171420,172100,170210
LOCOCOR,1,1,3,3,3
CODESTAB,2786117.0,2755157.0,-1.0,-1.0,-1.0
CODMUNOCOR,172100,172100,171420,172100,170210
ASSISTMED,-1.0,1.0,-1.0,2.0,2.0
CIRCOBITO,-1.0,-1.0,-1.0,3.0,-1.0
TPPOS,-1,-1,-1,-1,-1
ESCFALAGR1,10.0,-1.0,9.0,12.0,0.0
STDOEPIDEM,0.0,0.0,0.0,0.0,0.0
TIPOIDADE,4,2,4,4,4
NR_IDADE,91,24,65,38,49
CD_OBITO,15534932020,15535222020,15535332020,15535342020,15538372020
TERMINAL_1,A419,P293,R99X,T794,R99X
TERMINAL_2,-1,-1,-1,-1,-1
ANTECEDENTE_1,J159,B49X,-1,T792,-1
ANTECEDENTE_2,-1,-1,-1,-1,-1
ANTECEDENTE_3,I64X,P071,-1,S279,-1
ANTECEDENTE_4,-1,-1,-1,S369,-1
BASICA_1,I64,P293,R99,X994,R99
BASICA_2,I64,P293,R99,X994,R99

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556824 entries, 0 to 1556823
Data columns (total 28 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   DTOBITO        1556824 non-null  datetime64[ns]
 1   HORAOBITO      1556824 non-null  float64
 2   DTNASC         1556824 non-null  object
 3   IDADE          1556824 non-null  int64
 4   SEXO           1556824 non-null  int64
 5   RACACOR        1556824 non-null  float64
 6   ESTCIV         1556824 non-null  float64
 7   OCUP           1556824 non-null  float64
 8   CODMUNRES      1556824 non-null  int64
 9   LOCOCOR        1556824 non-null  int64
 10  CODESTAB       1556824 non-null  float64
 11  CODMUNOCOR     1556824 non-null  int64
 12  ASSISTMED      1556824 non-null  float64
 13  CIRCOBITO      1556824 non-null  float64
 14  TPPOS          1556824 non-null  object
 15  ESCFALAGR1     1556824 non-null  float64
 16  STDOEPIDEM     1556824 non-null  float64
 17  TIPOIDADE      1556824 non-null  int64
 18  NR_IDADE       1556824 non-null  int64
 19  CD_OBITO       1556824 non-null  int64
 20  TERMINAL_1     1556824 non-null  object
 21  TERMINAL_2     1556824 non-null  object
 22  ANTECEDENTE_1  1556824 non-null  object
 23  ANTECEDENTE_2  1556824 non-null  object
 24  ANTECEDENTE_3  1556824 non-null  object
 25  ANTECEDENTE_4  1556824 non-null  object
 26  BASICA_1       1556824 non-null  object
 27  BASICA_2       1556824 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(8), object(10)
memory usage: 332.6+ MB

In [97]:
df.to_csv('DO_20.csv', index=False)