In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Mortalidade_Geral_2018.csv', sep=';')

/tmp/ipython-input-1857681910.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Mortalidade_Geral_2018.csv', sep=';')

# Tratando Datas

In [6]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2018-04-25
1 2018-05-24
2 2018-02-14
3 2018-07-31
4 2018-09-21
datetime64[ns]

In [7]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2018-05-29
1 2019-05-21
2 2018-02-22
3 2019-04-09
4 2018-09-28
datetime64[ns]

In [8]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1965-11-03
1 2018-05-20
2 1925-06-02
3 1928-08-25
4 1941-07-04
datetime64[ns]

In [9]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2018-04-25
1 2018-08-24
2 2018-02-16
3 2018-08-01
4 2018-09-21
datetime64[ns]

In [10]:
df['DTATESTADO'].isnull().sum()

np.int64(0)

In [11]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [12]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2018-05-25
1 2019-05-21
2 2018-02-22
3 2019-04-09
4 2018-09-26
datetime64[ns]

In [13]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2019-06-27
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2018-09-28
datetime64[ns]

In [14]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [15]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [16]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [17]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [18]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

# Ajustes de Idade e Ocupação

In [23]:
df['TIPOIDADE'] = np.where(df['IDADE'] < 100, 0, df['IDADE'].astype(str).str[0].astype(int))

In [24]:
df['NR_IDADE'] = np.where(df['IDADE'] < 100, df['IDADE'],
                                 df['IDADE'].astype(str).str[1:].apply(lambda x: int(x) if x else 0))

In [25]:
df['OCUP'] = np.where(df['OCUP'] > 999990, 999999, df['OCUP'])

# Criando Coluna Chave Primaria

In [31]:
# Garantir que DTOBITO está no formato datetime
df["DTOBITO"] = pd.to_datetime(df["DTOBITO"], errors="coerce")

# Pega o ano e concatena com o CONTADOR
df["CD_OBITO"] = (df["CONTADOR"].astype(str) + df["DTOBITO"].dt.year.astype(str)).astype(int)

# Conferir
print(df[["CONTADOR", "DTOBITO", "CD_OBITO"]].head())

   CONTADOR    DTOBITO  CD_OBITO
0        18 2018-04-25    182018
1      2120 2018-05-24  21202018
2      2121 2018-02-14  21212018
3      2122 2018-07-31  21222018
4      2691 2018-09-21  26912018

# Tratando CID

In [43]:
# 🔹 Função auxiliar: normalizar string de CID
def normalize_series(series):
    return (
        series.fillna("-1")
        .astype(str)
        .str.upper()
        .str.replace("*", "", regex=False)
        .replace({"": "-1"})
    )

# === TERMINAL (LINHAA) ===
terminal = (
    df["LINHAA"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["TERMINAL_1"] = terminal.str[0].fillna("-1")
df["TERMINAL_2"] = terminal.str[1].fillna("-1")

# === ANTECEDENTES (LINHAB e LINHAC) ===
ante_b = (
    df["LINHAB"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["ANTECEDENTE_1"] = ante_b.str[0].fillna("-1")
df["ANTECEDENTE_2"] = ante_b.str[1].fillna("-1")

ante_c = (
    df["LINHAC"]
    .fillna("-1")
    .astype(str)
    .str.upper()
    .str.replace("*", " ", regex=False)
    .str.split()
)

df["ANTECEDENTE_3"] = ante_c.str[0].fillna("-1")
df["ANTECEDENTE_4"] = ante_c.str[1].fillna("-1")

# === CAUSAS BÁSICAS ===
df["BASICA_1"] = normalize_series(df["CAUSABAS"])
df["BASICA_2"] = normalize_series(df["CAUSABAS_O"])

In [45]:
colunas_excluir = [
    "CB_PRE", "CAUSAMAT", "EXAME", "CIRURGIA", "SERIESCFAL", "SERIESCMAE",
    "ESCMAEAGR1", "TPRESGINFO", "TP_ALTERA", "CB_ALT", "MORTEPARTO",
    "ALTCAUSA", "FONTES", "DTCADINF", "DTCONCASO", "VERSAOSIST", "VERSAOSCB",
    "OPOR_DO", "STCODIFICA", "CODIFICADO", "TPMORTEOCO", "COMUNSVOIM", "OBITOGRAV",
    "OBITOPUERP", "FONTEINV", "DTINVESTIG", "NUDIASOBCO", "DTCADINV", "TPNIVELINV",
    "IDADEMAE", "ESCMAE", "ESCMAE2010", "SERIESCMAE", "OCUPMAE",
    "QTDFILVIVO", "QTDFILMORT", "GRAVIDEZ", "SEMAGESTAC", "GESTACAO",
    "PARTO", "OBITOPARTO", "PESO", "CB_PRE", "CAUSAMAT", "ESCMAEAGR1",
    "MORTEPARTO", "contador", "ORIGEM", "ESC", "FONTES", "NECROPSIA", "ACIDTRAB",
    "FONTE", "NUMEROLOTE", "DTCADASTRO", "ATESTANTE", "DTRECEBIM", "DTRECORIGA",
    "STDONOVA", "DIFDATA","TPOBITOCOR", "DTCONINV", "ESC2010", "TIPOBITO",
    "ESTABDESCR", "NUDIASOBIN","NUDIASINF", "FONTESINF", "CODMUNNATU",
    "ATESTADO", "NATURAL", "DTATESTADO", "CONTADOR", "LINHAA", "LINHAB",
    "LINHAC", "LINHAD", "LINHAII", "CAUSABAS", "CAUSABAS_O"


]

df = df.drop(columns=colunas_excluir, errors="ignore")

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316719 entries, 0 to 1316718
Data columns (total 28 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   DTOBITO        1316719 non-null  datetime64[ns]
 1   HORAOBITO      1316719 non-null  float64
 2   DTNASC         1316719 non-null  datetime64[ns]
 3   IDADE          1316719 non-null  int64
 4   SEXO           1316719 non-null  int64
 5   RACACOR        1316719 non-null  float64
 6   ESTCIV         1316719 non-null  float64
 7   OCUP           1316719 non-null  float64
 8   CODMUNRES      1316719 non-null  int64
 9   LOCOCOR        1316719 non-null  int64
 10  CODESTAB       1316719 non-null  float64
 11  CODMUNOCOR     1316719 non-null  int64
 12  ASSISTMED      1316719 non-null  float64
 13  CIRCOBITO      1316719 non-null  float64
 14  TPPOS          1316719 non-null  object
 15  ESCFALAGR1     1316719 non-null  float64
 16  STDOEPIDEM     1316719 non-null  float64
 17  TIPOIDADE      1316719 non-null  int64
 18  NR_IDADE       1316719 non-null  int64
 19  CD_OBITO       1316719 non-null  int64
 20  TERMINAL_1     1316719 non-null  object
 21  TERMINAL_2     1316719 non-null  object
 22  ANTECEDENTE_1  1316719 non-null  object
 23  ANTECEDENTE_2  1316719 non-null  object
 24  ANTECEDENTE_3  1316719 non-null  object
 25  ANTECEDENTE_4  1316719 non-null  object
 26  BASICA_1       1316719 non-null  object
 27  BASICA_2       1316719 non-null  object
dtypes: datetime64[ns](2), float64(9), int64(8), object(9)
memory usage: 281.3+ MB

In [47]:
df.to_csv('DO_18.csv', index=False)